In [1]:
# import gensim
import os
import collections
# import smart_open
import random
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'/home/ppas/Documents'

In [3]:
# xls = pd.ExcelFile('test_and_golden_reference_data.xlsx')

In [4]:
golden_csv = pd.read_csv('golden_data.csv', header=None)

In [5]:
sample_csv = pd.read_csv('test_data.csv')

In [6]:
golden_csv.columns = [['name', 'mcn-id','existing-or-new','address1','address2','city','zip','country','temp1','temp2','temp3','temp4','temp5','website','temp6','temp7']]
# golden_csv.dropna(axis=1, how='any')
golden_csv.head()

,name,mcn-id,existing-or-new,address1,address2,city,zip,country,temp1,temp2,temp3,temp4,temp5,website,temp6,temp7
0,Greg Pollom,MCN-47996044,EC-Existing,218 Fulford Ave,Bel Air,MD,21014,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Little Apple Toyota Honda,MCN-05952813,R-VAR,2828 Amherst Ave,Manhattan,KS,66502,US,2828 Amherst Ave,Manhattan,KS,66502,US,NaN,NaN,NaN
2,Adp Network Solutions 76002379,MCN-67486028,EC-Existing,16177 Sw 155 Ave,Miami,FL,33187,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Prestige Subaru Suzuki 08320005,MCN-09000630,EC-Existing,585 Tunnel Rd,Asheville,NC,28805,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Wolberg Electrical Supply Company I,MCN-30243660,EC-Existing,35 Industrial Park Road,Albany,NY,12206,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
golden_csv_cleaned = golden_csv.drop('temp1', axis=1)
golden_csv_cleaned = golden_csv_cleaned.drop('temp2', axis=1)
golden_csv_cleaned = golden_csv_cleaned.drop('temp3', axis=1)
golden_csv_cleaned = golden_csv_cleaned.drop('temp4', axis=1)
golden_csv_cleaned = golden_csv_cleaned.drop('temp5', axis=1)
golden_csv_cleaned = golden_csv_cleaned.drop('temp6', axis=1)
golden_csv_cleaned = golden_csv_cleaned.drop('temp7', axis=1)
# golden_csv_cleaned = golden_csv_cleaned.dropna(axis=0, how='any')
values = {'existing-or-new': 'EC-Existing', 'city': 'TX', 'zip': 11111, 'website': 'www.google.com'}
golden_csv_cleaned['existing-or-new'] = golden_csv_cleaned['existing-or-new'].fillna('EC-Existing')
golden_csv_cleaned['city'] = golden_csv_cleaned['city'].fillna('TX')
golden_csv_cleaned['zip'] = golden_csv_cleaned['zip'].fillna('11111')
golden_csv_cleaned['website'] = golden_csv_cleaned['website'].fillna('www.google.com')
golden_csv_cleaned.isnull().sum()

/home/ppas/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2530: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

name               0
mcn-id             0
existing-or-new    0
address1           0
address2           0
city               0
zip                0
country            0
website            0
dtype: int64

In [8]:
len(golden_csv_cleaned)

1033

In [9]:
golden_csv_cleaned.head()

,name,mcn-id,existing-or-new,address1,address2,city,zip,country,website
0,Greg Pollom,MCN-47996044,EC-Existing,218 Fulford Ave,Bel Air,MD,21014,US,www.google.com
1,Little Apple Toyota Honda,MCN-05952813,R-VAR,2828 Amherst Ave,Manhattan,KS,66502,US,www.google.com
2,Adp Network Solutions 76002379,MCN-67486028,EC-Existing,16177 Sw 155 Ave,Miami,FL,33187,US,www.google.com
3,Prestige Subaru Suzuki 08320005,MCN-09000630,EC-Existing,585 Tunnel Rd,Asheville,NC,28805,US,www.google.com
4,Wolberg Electrical Supply Company I,MCN-30243660,EC-Existing,35 Industrial Park Road,Albany,NY,12206,US,www.google.com

In [10]:
sample_csv_cleaned = sample_csv.drop('eu_address2', axis=1)
sample_csv_cleaned = sample_csv_cleaned.drop('eu_address3', axis=1)
sample_csv_cleaned = sample_csv_cleaned.drop('eu_address4', axis=1)
sample_csv_cleaned = sample_csv_cleaned.drop('eu_province', axis=1)
sample_csv_cleaned = sample_csv_cleaned.dropna(axis=0, how='any')
sample_csv_cleaned.isnull().sum()

Shard ID       0
eu_mcn         0
eu_name        0
eu_address1    0
eu_city        0
eu_zip_code    0
eu_state       0
eu_country     0
dtype: int64

In [11]:
sample_csv_cleaned.head()

,Shard ID,eu_mcn,eu_name,eu_address1,eu_city,eu_zip_code,eu_state,eu_country
0,n1,MCN-47996044,Barwick Cpa,218 Fulford Ave,Bel Air,210140000,MD,US
1,n1,MCN-05952813,Little Apple Toyota Honda,2828 Amherst Ave,Manhattan,665023096,KS,US
2,n1,MCN-67486028,Adp Network Solutions 76002379,16177 Sw 155 Ave,Miami,331870000,FL,US
3,n1,MCN-09000630,Prestige Subaru Suzuki08320005,585 Tunnel Rd,Asheville,288050000,NC,US
4,n1,MCN-30243660,WOLBERG ELECTRICAL SUPPLY COMPANY I,35 INDUSTRIAL PARK ROAD,ALBANY,12206,NY,US

In [12]:
len(sample_csv_cleaned)

117

In [13]:
sample_csv_cleaned['name_address'] = sample_csv_cleaned['eu_name']+ ' ' + sample_csv_cleaned['eu_address1']+' '  + sample_csv_cleaned['eu_city']+ ' ' + \
sample_csv_cleaned['eu_zip_code']+ ' '  + sample_csv_cleaned['eu_state']+ ' ' + sample_csv_cleaned['eu_country']

In [14]:
a1 = golden_csv_cleaned['name'].values
a2 = golden_csv_cleaned['address1'].values
a3 = golden_csv_cleaned['address2'].values
a4 = golden_csv_cleaned['city'].values
a5 = golden_csv_cleaned['zip'].values
a6 = golden_csv_cleaned['country'].values

a = a1+' '+a2+' '+a3+' '+a4+' '+a5+' '+a6
# a = np.hstack((a1,a2,a3))

In [15]:
a

array([['Greg Pollom 218 Fulford Ave Bel Air MD 21014 US'],
       ['Little Apple Toyota Honda 2828 Amherst Ave Manhattan KS 66502 US'],
       ['Adp Network Solutions 76002379 16177 Sw 155 Ave Miami FL 33187 US'],
       ...,
       ['Linxens Holdings 6 Rue Helene Boucher Guyancourt . 78280 FR'],
       ['Dr. Steven Christie  M.d. 524 Hampton Ln Key Biscayne FL 33149 US'],
       ['Esbelt Agerhatten Odense SO SYDDANMARK 5220 DK']], dtype=object)

In [16]:
sample_csv_cleaned.head()

,Shard ID,eu_mcn,eu_name,eu_address1,eu_city,eu_zip_code,eu_state,eu_country,name_address
0,n1,MCN-47996044,Barwick Cpa,218 Fulford Ave,Bel Air,210140000,MD,US,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...
1,n1,MCN-05952813,Little Apple Toyota Honda,2828 Amherst Ave,Manhattan,665023096,KS,US,Little Apple Toyota Honda 2828 Amherst Ave Man...
2,n1,MCN-67486028,Adp Network Solutions 76002379,16177 Sw 155 Ave,Miami,331870000,FL,US,Adp Network Solutions 76002379 16177 Sw 155 Av...
3,n1,MCN-09000630,Prestige Subaru Suzuki08320005,585 Tunnel Rd,Asheville,288050000,NC,US,Prestige Subaru Suzuki08320005 585 Tunnel Rd A...
4,n1,MCN-30243660,WOLBERG ELECTRICAL SUPPLY COMPANY I,35 INDUSTRIAL PARK ROAD,ALBANY,12206,NY,US,WOLBERG ELECTRICAL SUPPLY COMPANY I 35 INDUSTR...

In [17]:
train_arr = []
test_arr = []
mcn_arr_test = []
train_data_length=len(sample_csv_cleaned)
for i in range(0, int(train_data_length)):
    train_arr_temp = sample_csv_cleaned['name_address'].values[i]
    mcn_number_temp = sample_csv_cleaned['eu_mcn'].values[i]
    train_arr.append(train_arr_temp)
    mcn_arr_test.append(mcn_number_temp)

In [70]:
# mcn_arr_test

In [18]:
mcn_arr_golden = golden_csv_cleaned['mcn-id'].values.tolist()

In [19]:
train_arr = np.array(train_arr)

# Uncomment later

In [20]:
# train_arr

In [21]:
np.savetxt(r'test_data_small.txt', train_arr, fmt='%s', encoding='utf-8')

In [22]:
np.savetxt(r'golden_data_small.txt', a, fmt='%s', encoding='utf-8')

# fuzzy wuzzy

In [23]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [24]:
golden_data = a.tolist()

In [25]:
golden_flat_list = [item for sublist in golden_data for item in sublist]

In [26]:
test_data = train_arr.tolist()

In [27]:
mcn_arr_test[3]

'MCN-09000630'

In [28]:
test_dict = {}
# golden_dict.setdefault('dummy',[])
for i in range(0, len(mcn_arr_test)):
    test_dict[mcn_arr_test[i]] = train_arr[i]

# Uncomment later

In [82]:
# test_dict

In [29]:
golden_dict = {}
# golden_dict.setdefault('dummy',[])
for i in range(0, len(mcn_arr_golden)):
    golden_dict[mcn_arr_golden[i][0]] = golden_flat_list[i]

# Uncomment later

In [84]:
# golden_dict

# Uncomment later the printf

In [31]:
import time
choices = golden_dict.values()
score= 0
found_flag=0
not_found=[]
t = time.time()
for i in range(0, len(test_data)-1):
    found_flag=0
    chlist=process.extract(test_data[i], choices, limit=2)
    print("{},   --test--{}".format(test_data[i], mcn_arr_test[i]))
    
    for mcn,value in golden_dict.items():
        for j in range(0,2):
            if value == chlist[j][0]:
                if mcn_arr_test[i] == mcn:
                    score+=1
                    
                    print("{},   --MDM--{}".format(chlist[j][0], mcn))
                    print("===================================================")
                    found_flag=1
                    break
    if found_flag == 0:
        not_found.append(i)
t1 = t-time.time()
print('SELFTIMED:', t1)        
print("Total matches found are {} out of {}".format(score, len(test_data)))        
print('accuracy is', 100* score/len(test_data), '%')
print('mismatched sample indexes in test data are:')
print(not_found)
print("===================================================")
print('We are done with 1st level of matching')

Barwick Cpa 218 Fulford Ave Bel Air 210140000 MD US,   --test--MCN-47996044
Little Apple Toyota Honda 2828 Amherst Ave Manhattan 665023096 KS US,   --test--MCN-05952813
Little Apple Toyota Honda 2828 Amherst Ave Manhattan KS 66502 US,   --MDM--MCN-05952813
===================================================
Adp Network Solutions 76002379 16177 Sw 155 Ave Miami 331870000 FL US,   --test--MCN-67486028
Adp Network Solutions 76002379 16177 Sw 155 Ave Miami FL 33187 US,   --MDM--MCN-67486028
===================================================
Prestige Subaru Suzuki08320005 585 Tunnel Rd Asheville 288050000 NC US,   --test--MCN-09000630
Prestige Subaru Suzuki 08320005 585 Tunnel Rd Asheville NC 28805 US,   --MDM--MCN-09000630
===================================================
WOLBERG ELECTRICAL SUPPLY COMPANY I 35 INDUSTRIAL PARK ROAD ALBANY 12206 NY US,   --test--MCN-30243660
Wolberg Electrical Supply Company I 35 Industrial Park Road Albany NY 12206 US,   --MDM--MCN-30243660
===================================================
ST FRANCIS COUNTY CIRCUIT CLERK 313 S IZARD ST FORREST CITY 72335 AR US,   --test--MCN-81965570
St Francis County Circuit Clerk 313 S Izard St Forrest City AR 72335 US,   --MDM--MCN-81965570
===================================================
Ramsey Chrysler Jeep76044582 1555 Rte 17 S Ramsey 74460000 NJ US,   --test--MCN-84502384
Ramsey Chrysler Jeep 1555 Rte 17 S Ramsey NJ 7446 US,   --MDM--MCN-84502384
===================================================
Presidio Capital Management 12626 High Bluff Dr Ste 145 San Diego 921302074 CA US,   --test--MCN-08838292
Presidio Capital Management 12626 High Bluff Dr Ste 145 San Diego CA 92130 US,   --MDM--MCN-08838292
===================================================
THE DAIRY FARM COMPANY 6 MAROON EXT BONITA HOMES CONCEPCION MARIKINA 1800 METRO MANILA PH,   --test--MCN-28146747
Professional Physical Therapy 333 Earle Ovington Blvd  Suite 225 Uniondale 115530000 NY US,   --test--MCN-08192922
BUCCAN 350 S COUNTY RD PALM BEACH 334804481 FL US,   --test--MCN-23364494
Buccan 350 S County Rd Palm Beach FL 33480 US,   --MDM--MCN-23364494
===================================================
LES SCHWAB TIRES 20900 COOLEY RD BEND 97701 OR US,   --test--MCN-46654103
Les Schwab Tire Centers 20900 Cooley Rd. Bend OR 97701 US,   --MDM--MCN-46654103
===================================================
Capitol Cadillac 76071029 6500 Capitol Dr Greenbelt 207700000 MD US,   --test--MCN-76857682
Capitol Cadillac 76071029 6500 Capitol Dr Greenbelt 207700000 MD US,   --test--MCN-76857682
Capitol Cadillac 76071029 6500 Capitol Dr Greenbelt 207700000 MD US,   --test--MCN-76857682
Capitol Cadillac 76071029 6500 Capitol Dr Greenbelt 207700000 MD US,   --test--MCN-76857682
Harwood International Inc 3130 N. Harwood Street Dallas 752010000 TX US,   --test--MCN-56591783
Tipton Buy Here Pay Here - Harligen 1116 W Harrison Harlingen 785500000 TX US,   --test--MCN-20047082
Tipton Buy Here Pay Here - Harligen 1116 W Harrison Harlingen TX 78550 US,   --MDM--MCN-20047082
===================================================
Steve Quiroz 10625 N. Lamar Austin 787530000 TX US,   --test--MCN-04845501
ARGOS SCHOOL CORPORATION 410 N FIRST ST ARGOS 46501 IN US,   --test--MCN-84353471
ARGOS SCHOOL CORPORATION 410 N FIRST ST ARGOS 46501 IN US,   --test--MCN-84353471
CITY OF ST. LOUIS, MO - ST. LOUIS ZOO SAINT LOUIS ZOO SAINT LOUIS 63110 MO US,   --test--MCN-00340056
SNIDER INSURANCE GROUP, LLC 1438 WILKESBORO HWY STATESVILLE 28625 NC US,   --test--MCN-08309418
HOLIDAY INN 2965 E MAIN ST ALICE 783320000 TX US,   --test--MCN-94125377
Holiday Inn 2965 E Main St Alice TX 78332 US,   --MDM--MCN-94125377
===================================================
BOULTER INDUSTRIAL CONTRACTORS 655 BASKET RD WEBSTER, 14580 NY US,   --test--MCN-50862860
Boulter Industrial Contractors 655 Basket Rd Webster NY 14580 US,   --MDM--MCN-50862860
===================================================
HV Diagnostics Inc. 271 ROPE MILL PARKWAY Woodstock 30188 GA US,   --test--MCN-26135003
Hv Diagnostics Inc. 271 Rope Mill ParkwaySuite #2 Woodstock GA 30188 US,   --MDM--MCN-26135003
===================================================
KAO COLLINS 1201 EDISON DR. CINCINNATI 45216 OH US,   --test--MCN-03143645
Kao Collins 1201 Edison Dr. Cincinnati OH 45216 US,   --MDM--MCN-03143645
===================================================
HANSON WALTER & ASSOCIATES, IN 8 BROADWAY SUITE 104 KISSIMMEE 34741 FL US,   --test--MCN-04097510
Mars International 60 Kingsbridge Road Piscataway 88543919 NJ US,   --test--MCN-17657159
Getmedi 500 Route 17s Hasbrouck Heights 76040000 NJ US,   --test--MCN-90441872
Getmedi 500 Route 17s Hasbrouck Heights NJ 7604 US,   --MDM--MCN-90441872
===================================================
VISTEON CORPORATION ONE VILLAGE CENTER DRIVE VAN BUREN TOWNSHIP 48111 MI US,   --test--MCN-67408400
Tipton Buy Here Pay Here - Harligen 1116 W Harrison Harlingen 785500000 TX US,   --test--MCN-20047082
Tipton Buy Here Pay Here - Harligen 1116 W Harrison Harlingen TX 78550 US,   --MDM--MCN-20047082
===================================================
POWERSPORTS OF AMERICA 3051 OLD HUSBANDS ROAD PADUCAH 42071 KY US,   --test--MCN-64666509
Powersports Of America 3051 Old Husband's Road Paducah KY 42003 US,   --MDM--MCN-64666509
===================================================
SCHOOL DISTRICT OF WI DELLS 520 RACE ST WISCONSIN DELLS 53965-1824 WI US,   --test--MCN-81347679
School District of Wisconsin Dells 520 Race Street Wisconsin Dells WI 53965 US,   --MDM--MCN-81347679
===================================================
SALATA CORPORATION 16720 PARK ROW HOUSTON 77084 TX US,   --test--MCN-49260309
Family Office RPP LLC 450 PARK AVENUE NEW YORK 10022 NY US,   --test--MCN-60783235
GERALD R FORD INTERNATIONAL AIRPORT 5500 44TH ST SE GRAND RAPIDS 49512 MI US,   --test--MCN-62878885
Tipton Buy Here Pay Here - Harligen 1116 W Harrison Harlingen 785500000 TX US,   --test--MCN-20047082
Tipton Buy Here Pay Here - Harligen 1116 W Harrison Harlingen TX 78550 US,   --MDM--MCN-20047082
===================================================
WALTON'S INC 116 LAKEFRONT DR COCKEYSVILLE 21039 MD US,   --test--MCN-17451774
Walton's Inc 116 Lakefront Dr Cockeysville MD 21039 US,   --MDM--MCN-17451774
===================================================
LEAKE & WATTS SERVICES, INC 463 HAWTHORNE AVE YONKERS 10705 NY US,   --test--MCN-24327457
HILLS AND DALE GENERAL HOSPITAL 4675 HILL ST CASS CITY 48726 MI US,   --test--MCN-56057027
Hills and Dales General Hospital 4675 Hill St. Cass City MI 48726 US,   --MDM--MCN-56057027
===================================================
CHEMUNG CANAL TRUST COMPANY ONE CHEMUNG CANAL PLAZA ELMIRA 14901 NY US,   --test--MCN-96662118
Chemung Canal Trust Company 1 Chemung Canal Plaza Elmira NY 14901 US,   --MDM--MCN-96662118
===================================================
HOLIDAY INN 1101 SPRING ST ZANESVILLE 437010000 OH US,   --test--MCN-15551668
Holiday Inn 1101 Spring St Zanesville OH 43701 US,   --MDM--MCN-15551668
===================================================
GENERATIONS BH-YOUNGSTOWN 196 COLONIAL DR YOUNGSTOWN 44505 OH US,   --test--MCN-65556849
Generations Bh-youngstown 196 Colonial Dr Youngstown OH 44505 US,   --MDM--MCN-65556849
===================================================
BATTERIESPLUS LLC 1325 WALNUT RIDGE DR HARTLAND 53029 WI US,   --test--MCN-26537322
STARPOINTE VENTURES 5030 CAMPUS DRIVE SUITE B NEWPORT BEACH 92660 CA US,   --test--MCN-17437633
SALATA CORPORATION 16720 PARK ROW HOUSTON 77084 TX US,   --test--MCN-49260309
KEYW CORPORATION 2121 COOPERATIVE WAY 400 HERNDON 20171 VA US,   --test--MCN-58377439
THRONE PETROLEUM 3000 SMITH ST HOUSTON 770063441 TX US,   --test--MCN-66349059
Throne Petroleum 3000 Smith St Houston TX 77006 US,   --MDM--MCN-66349059
===================================================
DAL TILE 7834 C.F. HAWN FRWY DALLAS 75217 TX US,   --test--MCN-94495089
Dal-tile Texas 7834 CF Hawn Fwy Dallas TX 75217 US,   --MDM--MCN-94495089
===================================================
TEXAS FACILITIES COMMISSION 1706 SAN JACINTO BLVD AUSTIN 787011417 TX US,   --test--MCN-35173815
Texas Facilities Commission 1711 San Jacinto Blvd Austin TX 78701 US,   --MDM--MCN-35173815
===================================================

CAROLINA ORTHOPAEDIC & SPORTS 2345 COURT DRIVE GASTONIA 28054 NC US,   --test--MCN-24247020
Carolina Orthopaedic & Sports 2345 Court Drive Gastonia NC 28054 US,   --MDM--MCN-24247020
===================================================
STAR CONCRETE PUMPING 24223 HUFSMITH KOHRVILLE ROAD TOMBALL 77375 TX US,   --test--MCN-71550775
Star Concrete Pumping 24223 Hufsmith Kohrville Road Tomball TX 77375 US,   --MDM--MCN-71550775
===================================================
MECKLENBURG COUNTY PUBLIC SCHOOLS 105 MAYFIELD DR BOYDTON 23917 VA US,   --test--MCN-80115450
WHITESIDE MANAGEMENT 2 HENRY ADAMS ST SUITE M-3 SAN FRANCISCO 941030000 CA US,   --test--MCN-09256637
Whiteside Management 2 Henry Adams St Suite M-3 San Francisco CA 94103 US,   --MDM--MCN-09256637
===================================================
Next Step HealthCare, LLC 392 MAIN ST SACO 04072-1521 ME US,   --test--MCN-59249559
BRANDYWINE REALTY TRUST 555 E LANCASTER AVE WAYNE 19087 PA US,   --test--MCN-83098269
Brandywine Realty & Trust 555 E Lancaster Ave Radnor PA 19087 US,   --MDM--MCN-83098269
===================================================
Concentric Advisors-hq 4030 Lake Washington Blvd Ne Ste 20 Kirkland 980330000 WA US,   --test--MCN-47594709
Concentric Advisors Inc 4030 LAKE WASHINGTON BLVD NE ste 20 kirkland WA 98083 US,   --MDM--MCN-47594709
===================================================
Mars International 60 Kingsbridge Road Piscataway 88543919 NJ US,   --test--MCN-17657159
ORLAND PARK PUBLIC LIBRARY 14921 S RAVINIA AVE ORLAND PARK 604623193 IL US,   --test--MCN-86876161
Park Orland Public Library 14921 Ravinia Avenue Orland Park IL 60462 US,   --MDM--MCN-86876161
===================================================
Paul Precision Machines 5908 E 12th St Tulsa 741120000 OK US,   --test--MCN-78711892
Paul Precision MacHine Inc 5908 E. 12th St. Tulsa OK 74112 US,   --MDM--MCN-78711892
===================================================
AG PARTNERS IT 101 BROADWAY STREET N GOODHUE 55027 MN US,   --test--MCN-74098636
CITY OF LAKE FOREST 800 N. FIELD DRIVE LAKE FOREST 600450000 IL US,   --test--MCN-86087471
The Warwick 220 S 17th St Philadelphia 191036303 PA US,   --test--MCN-96100572
The Warwick 220 S 17th St Philadelphia PA 19103 US,   --MDM--MCN-96100572
===================================================
AHSTW CSD 768 S MAPLE ST AVOCA 51521 IA US,   --test--MCN-32203848
BJ SERVICES COMPANY U.S.A 11211 FM 2920 ROAD TOMBALL 77375 TX US,   --test--MCN-84970424
BOYS & GIRLS CLUB OF GREATER DERRY 40 E DERRY RD DERRY 30380000 NH US,   --test--MCN-02445193
Boys & Girls Club Of Greater Derry 40 East Derry Road Derry NH 3038 US,   --MDM--MCN-02445193
===================================================
Maran Inc 1411 Broadway, 5th Floor New York 100180000 NY US,   --test--MCN-82039086
Maran Inc 1411 Broadway, 5th Floor New York NY 10018 US,   --MDM--MCN-82039086
===================================================
STRIGGOW INSURANCE 10808 W MONEE MANHATTAN RD MONEE 604499185 IL US,   --test--MCN-98048695
Striggow Insurance 10808 W Monee Manhattan Rd Monee IL 60449 US,   --MDM--MCN-98048695
===================================================
AHSTW CSD 768 S MAPLE ST AVOCA 51521 IA US,   --test--MCN-32203848
Endeavour Enterprises 3415 73rd St, Lubbock 794230000 TX US,   --test--MCN-70684499
Endeavour Enterprises 3415 73rd St, Lubbock TX 79423 US,   --MDM--MCN-70684499
===================================================
DIGITAL HARMONIC, LLC 380 LOG CANOE CIRCLE STEVENSON, 21666 MD US,   --test--MCN-07418441
Digital Harmonic 380 Log Canoe Circle Stevenson MD 21666 US,   --MDM--MCN-07418441
===================================================
Commnet Link 113 10th Street Beaverlodge T0H0C0 AB CA,   --test--MCN-82013827
ORBITAL PARK CONSULTING 41-15 45TH STREET SUNNYSIDE 111040000 NY US,   --test--MCN-97514749
Orbital Park Consulting 41-15 45th Street Sunnyside NY 11104 US,   --MDM--MCN-97514749
===================================================
FELLOWSHIP OF THE ROCKIES 3892 WEST NORTHERN AVE PUEBLO 81005 CO US,   --test--MCN-73178507
North American Health Care, Inc 32836 Pacific Coast Hwy Ste 203 Dana Point 926293473 CA US,   --test--MCN-99971254
UNIVERSITY OF GEORGIA ATHLETIC ASS 100 SMITH ST ATHENS 30602 GA US,   --test--MCN-85369639
KONRAD BEVERAGE COMPANY 1320 HURFFVILLE ROAD DEPTFORD 8096 NJ US,   --test--MCN-77879755
UNIVERSITY OF GEORGIA ATHLETIC ASS 100 SMITH ST ATHENS 30602 GA US,   --test--MCN-85369639
MAYMEAD 1995 ROAN CREEK ROAD MOUNTAIN CITY 37683 TN US,   --test--MCN-12312190
Maymead 1995 Roan Creek Rd Mountain City TN 37683 US,   --MDM--MCN-12312190
===================================================
H & K GROUP 2052 LUCON RD SCHWENKSVILLE 19473 PA US,   --test--MCN-53072804
H & K Group 2052 Lucon Rd Schwenksville PA 19473 US,   --MDM--MCN-53072804
===================================================
Design Air, LLC 1010 W. KENNEDY AVE. KIMBERLY 54136 WI US,   --test--MCN-14763981
Design Air Inc 1010 W Kennedy Ave Kimberley WI 54136 US,   --MDM--MCN-14763981
===================================================
CLINIC BY THE SEA 16295 WILLOW CREEK ROAD LEWES 19958 DE US,   --test--MCN-45359866
WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE; STE 235 ROCHESTER 14623 NY US,   --test--MCN-48009247
HUDSON VALLEY FUEL OIL 32 BUTTERFLY LANE PUTNAM VALLEY 10579 NY US,   --test--MCN-27067945
PIMA MEDICAL INSTITUTE 957 S DOBSON RD MESA 85202 AZ US,   --test--MCN-66029039
LUND FOOD HOLDINGS INC 4100 W 50TH ST MINNEAPOLIS 55424 MN US,   --test--MCN-77491597
MDU RESOURCES 1200 W CENTURY AVE BISMARCK 58503 ND US,   --test--MCN-79099330
MDU Resources Inc. 1200 W Century Ave Bismarck ND 58503 US,   --MDM--MCN-79099330
===================================================
BESTCO INC 288 MAZEPPA RD MOORESVILLE 281157928 NC US,   --test--MCN-98057174
Bestco Inc 288 Mazeppa Rd Mooresville NC 28815 US,   --MDM--MCN-98057174
===================================================
HYDROJET 450 GATEWAY DRIVE READING 196010000 PA US,   --test--MCN-70084113
AZITC 5751 E 13TH ST TUCSON 85711 AZ US,   --test--MCN-20455303
AZITC 5751 e 13th st tucson AZ 85711 US,   --MDM--MCN-20455303
===================================================
GOLDEN HIPPO MEDIA 23251 MULHOLLAND DR WOODLAND HILLS 913640000 CA US,   --test--MCN-64056937
Golden Hippo Media 23251 Mulholland Dr Woodland Hills CA 91364 US,   --MDM--MCN-64056937
===================================================
INSTITUTE FOR FAMILY HEALTH 2006 MADISON AVE FL 5 NEW YORK 10035 NY US,   --test--MCN-52985411
DANIEL E SCHRENK 1483 NW FALL PLACE BEAVERTON 97006 OR US,   --test--MCN-18962180
Daniel Schrenk 1483 Nw Fall Place Beaverton OR 97006 US,   --MDM--MCN-18962180
===================================================
LULAY & ILLESCAS ASSOCIATES INC 99 QUAKER CHURCH ROAD, STE 2 RANDOLPH 7869 NJ US,   --test--MCN-60691496
Lulay & Illescas Associates Inc 99 Quaker Church RdSte 2 Randolph NJ 7869 US,   --MDM--MCN-60691496
===================================================
FREEDOM FORD 1351 EARL L CORE RD MORGANTOWN 26505 WV US,   --test--MCN-12799294
Freedom Ford Lincoln of Morgantown 1351 Earl Core RoadF44543 Morgantown WV 26505 US,   --MDM--MCN-12799294
===================================================
BOVEDA INC 10237 YELLOW CIRCLE DR MINNETONKA 55343 MN US,   --test--MCN-65006922
Boveda Inc 10237 Yellow Circle Dr Minnetonka MN 55343 US,   --MDM--MCN-65006922
===================================================
PACIFIC STEEL & RECYCLING 5 RIVER DR S GREAT FALLS 594051872 MT US,   --test--MCN-69085733
DIXIE IRON WORKS 300 WEST MAIN STREET ALICE 78332 TX US,   --test--MCN-03365318
Dixie Iron Works 300 W. Main St. Alice TX 78332 US,   --MDM--MCN-03365318
===================================================
Abbo Systems 8288 Nw 66th St  651pty Miami 331950000 FL US,   --test--MCN-83431055
Abbo Systems 8288 Nw 66th St  651pty Miami FL 33195 US,   --MDM--MCN-83431055
===================================================
CS CREDIT UNION 6519 COMM SCOPE RD CATAWBA 28609-8104 NC US,   --test--MCN-42859562
Commscope Credit Union 6519 Commscope Rd Catawba NC 28609 US,   --MDM--MCN-42859562
===================================================
CHARLES JANSEN 9724 TWEEDY LN DOWNEY 902403142 CA US,   --test--MCN-68263648

DAVISON COUNTY 200 E 4TH AVE MITCHELL 573012631 SD US,   --test--MCN-06842294
Davison County 200 E. 4th Ave Mitchell SD 57301 US,   --MDM--MCN-06842294
===================================================
SUNPOWER INC 430 INDIO WAY SUNNYVALE 94085 CA US,   --test--MCN-04055926
STAFFORD DEVELOPEMENT INC 1805 US HIGHWAY 82 W TIFTON 317938165 GA US,   --test--MCN-53026954
SPEEDWAY MOTORS INC 340 VICTORY LN LINCOLN 68528 NE US,   --test--MCN-69524634
GLOBAL VALUE COMMERCE INC 7320 ACC BLVD RALEIGH 27617 NC US,   --test--MCN-40479299
NEWSOM EYE & LASER CENTER INC 13904 N DALE MABRY HWY STE 200 TAMPA 33618 FL US,   --test--MCN-38802425
Newsom Eye & Laser Center Inc 13904 N Dale Mabry Hwy Ste 200Accounts Payable / Cdw Rwx7180 /cpo Tampa FL 33618 US,   --MDM--MCN-38802425
===================================================
F.J O'HARA & SONS, INC 7 FID KENNEDY AVE BOSTON 22102321 MA US,   --test--MCN-89641398
F.j. O Hara & Sons 7 Fid Kennedy Ave. Boston MA 2210 US,   --MDM--MCN-89641398
===================================================
CRAFTWORKS 301 W MAIN ST CHATTANOOGA 37408 TN US,   --test--MCN-27714047
PRAVIS LLC 113 SAVANNAH LOOP MOUNTAIN VIEW 940433871 CA US,   --test--MCN-76272798
AMERIPRISE BANK, FSB 207 E LIVINGSTON ST ORLANDO 32801 FL US,   --test--MCN-50529301
VIBE CREDIT UNION 44575 W 12 MILE RD NOVI 48377 MI US,   --test--MCN-54537826
SURRY COUNTY 139 CHURCH OF CHRIST RD DOBSON 27017 NC US,   --test--MCN-01281248
DS LIQUIDATION LP 2601 AVENUE OF THE STARS FRISCO 75034 TX US,   --test--MCN-28987826
RICHARD C BARDI & ASSOCIATES 6 BEACON STREET BOSTON 2108 MA US,   --test--MCN-87123838
SELFTIMED: -29.700190544128418
Total matches found are 58 out of 117
accuracy is 49.572649572649574 %
mismatched sample indexes in test data are:
[0, 8, 9, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 27, 28, 30, 34, 35, 36, 39, 44, 45, 46, 47, 53, 55, 58, 61, 62, 64, 65, 69, 72, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 89, 92, 97, 101, 103, 104, 105, 106, 109, 110, 111, 112, 113, 114, 115]
===================================================
We are done with 1st level of matching

In [36]:
def find_score(chlist, not_found, found_flag,score,i):
    for mcn,value in test_dict.items():
        for j in range(0,2):
            if value == chlist[j][0]:
                if i == mcn:
                    score+=1
#                     gc.collect()
#                     print('Done for test sample', i)
#                     t = time.time()-t1
#                     print("SELFTIMED:", t)
                    
#                     print("{},   --MDM--{}".format(chlist[j][0], mcn))
#                     print("===================================================")
                    found_flag=1
                    break
    if found_flag == 0:
        not_found.append(i)
    
    return score

In [37]:
def fuzzy_extract(test_sample, choices,score, found_flag, not_found,i):
    
    chlist = process.extract(test_sample, choices, limit=2)
    score = find_score(chlist, not_found, found_flag,score,i)
#     print(score)
    return score

In [38]:
import time
import gc
from gevent.pool import Pool
from gevent import monkey
import concurrent.futures
from concurrent.futures import ThreadPoolExecutor, wait, as_completed
 
t1 = time.time()
NUM_WORKERS = 10


choices = test_dict.values()

score= 0
found_flag=0
not_found=[]

with concurrent.futures.ThreadPoolExecutor(max_workers=NUM_WORKERS) as executor:
    futures = [executor.submit(fuzzy_extract, sample, choices, score, found_flag, not_found, i) for i, sample in golden_dict.items()]
    concurrent.futures.wait(futures)
    
t = time.time()-t1
print("SELFTIMED:", t)
# print("Total matches found are {} out of {}".format(score, len(test_data)))        
# print('accuracy is', 100* score/len(test_data), '%')
# # print('mismatched sample indexes in test data are:')
# # print(not_found)
# print("===================================================")
# print('We are done with 1st level of matching')

SELFTIMED: 25.037545680999756

In [39]:
score=0
for x in as_completed(futures):
    score+= x.result()
#     print(x.result())
print(sum)
print('accuracy is', 100* score/len(test_data), '%')

<built-in function sum>
accuracy is 48.717948717948715 %

In [180]:
not_matched = []
for i in not_found:
    not_matched.append(train_arr[i])

In [181]:
not_matched

['Barwick Cpa 218 Fulford Ave Bel Air 210140000 MD US',
 'Professional Physical Therapy 333 Earle Ovington Blvd  Suite 225 Uniondale 115530000 NY US',
 'Harwood International Inc 3130 N. Harwood Street Dallas 752010000 TX US',
 'Steve Quiroz 10625 N. Lamar Austin 787530000 TX US',
 'ARGOS SCHOOL CORPORATION 410 N FIRST ST ARGOS 46501 IN US',
 'ARGOS SCHOOL CORPORATION 410 N FIRST ST ARGOS 46501 IN US',
 'CITY OF ST. LOUIS, MO - ST. LOUIS ZOO SAINT LOUIS ZOO SAINT LOUIS 63110 MO US',
 'SNIDER INSURANCE GROUP, LLC 1438 WILKESBORO HWY STATESVILLE 28625 NC US',
 'HANSON WALTER & ASSOCIATES, IN 8 BROADWAY SUITE 104 KISSIMMEE 34741 FL US',
 'Mars International 60 Kingsbridge Road Piscataway 88543919 NJ US',
 'SALATA CORPORATION 16720 PARK ROW HOUSTON 77084 TX US',
 'Family Office RPP LLC 450 PARK AVENUE NEW YORK 10022 NY US',
 'LEAKE & WATTS SERVICES, INC 463 HAWTHORNE AVE YONKERS 10705 NY US',
 'BATTERIESPLUS LLC 1325 WALNUT RIDGE DR HARTLAND 53029 WI US',
 'STARPOINTE VENTURES 5030 CAMPUS DRIVE SUITE B NEWPORT BEACH 92660 CA US',
 'SALATA CORPORATION 16720 PARK ROW HOUSTON 77084 TX US',
 'Next Step HealthCare, LLC 392 MAIN ST SACO 04072-1521 ME US',
 'Mars International 60 Kingsbridge Road Piscataway 88543919 NJ US',
 'AG PARTNERS IT 101 BROADWAY STREET N GOODHUE 55027 MN US',
 'CITY OF LAKE FOREST 800 N. FIELD DRIVE LAKE FOREST 600450000 IL US',
 'AHSTW CSD 768 S MAPLE ST AVOCA 51521 IA US',
 'BJ SERVICES COMPANY U.S.A 11211 FM 2920 ROAD TOMBALL 77375 TX US',
 'AHSTW CSD 768 S MAPLE ST AVOCA 51521 IA US',
 'North American Health Care, Inc 32836 Pacific Coast Hwy Ste 203 Dana Point 926293473 CA US',
 'KONRAD BEVERAGE COMPANY 1320 HURFFVILLE ROAD DEPTFORD 8096 NJ US',
 'CLINIC BY THE SEA 16295 WILLOW CREEK ROAD LEWES 19958 DE US',
 'WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE; STE 235 ROCHESTER 14623 NY US',
 'PIMA MEDICAL INSTITUTE 957 S DOBSON RD MESA 85202 AZ US',
 'LUND FOOD HOLDINGS INC 4100 W 50TH ST MINNEAPOLIS 55424 MN US',
 'HYDROJET 450 GATEWAY DRIVE READING 196010000 PA US',
 'INSTITUTE FOR FAMILY HEALTH 2006 MADISON AVE FL 5 NEW YORK 10035 NY US',
 'CHARLES JANSEN 9724 TWEEDY LN DOWNEY 902403142 CA US',
 'SPEEDWAY MOTORS INC 340 VICTORY LN LINCOLN 68528 NE US',
 'GLOBAL VALUE COMMERCE INC 7320 ACC BLVD RALEIGH 27617 NC US',
 'PRAVIS LLC 113 SAVANNAH LOOP MOUNTAIN VIEW 940433871 CA US',
 'AMERIPRISE BANK, FSB 207 E LIVINGSTON ST ORLANDO 32801 FL US',
 'VIBE CREDIT UNION 44575 W 12 MILE RD NOVI 48377 MI US',
 'SURRY COUNTY 139 CHURCH OF CHRIST RD DOBSON 27017 NC US',
 'DS LIQUIDATION LP 2601 AVENUE OF THE STARS FRISCO 75034 TX US',
 'RICHARD C BARDI & ASSOCIATES 6 BEACON STREET BOSTON 2108 MA US']

In [182]:
import copy

In [183]:
not_matched_test  = copy.copy(not_matched)

## Super fast string

In [184]:
test_df  = pd.DataFrame({'mcn':mcn_arr_test, 'name-address':train_arr})
test_df.head()

            mcn                                       name-address
0  MCN-47996044  Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...
1  MCN-05952813  Little Apple Toyota Honda 2828 Amherst Ave Man...
2  MCN-67486028  Adp Network Solutions 76002379 16177 Sw 155 Av...
3  MCN-09000630  Prestige Subaru Suzuki08320005 585 Tunnel Rd A...
4  MCN-30243660  WOLBERG ELECTRICAL SUPPLY COMPANY I 35 INDUSTR...

In [185]:
golden_df = pd.DataFrame({'mcn':mcn_arr_golden, 'name-address':golden_flat_list})
golden_df.head()

              mcn                                       name-address
0  [MCN-47996044]    Greg Pollom 218 Fulford Ave Bel Air MD 21014 US
1  [MCN-05952813]  Little Apple Toyota Honda 2828 Amherst Ave Man...
2  [MCN-67486028]  Adp Network Solutions 76002379 16177 Sw 155 Av...
3  [MCN-09000630]  Prestige Subaru Suzuki 08320005 585 Tunnel Rd ...
4  [MCN-30243660]  Wolberg Electrical Supply Company I 35 Industr...

In [186]:
names = pd.concat([test_df, golden_df])
len(names)

1150

In [187]:
# names.head(150)

In [188]:
def get_matches_df(sparse_matrix, name_vector, top=1000):
    non_zeros = sparse_matrix.nonzero()
    
    sparserows = non_zeros[0]
    sparsecols = non_zeros[1]
    
    if top:
        nr_matches = top
    else:
        nr_matches = sparsecols.size
    
    left_side = np.empty([nr_matches], dtype=object)
    right_side = np.empty([nr_matches], dtype=object)
    similairity = np.zeros(nr_matches)
    
    for index in range(0, nr_matches):
        left_side[index] = name_vector[sparserows[index]]
        right_side[index] = name_vector[sparsecols[index]]
        similairity[index] = sparse_matrix.data[index]
    
    return pd.DataFrame({'left_side': left_side,
                          'right_side': right_side,
                           'similairity': similairity})

In [189]:
len(not_matched)

40

In [190]:
for i in range(0, len(golden_flat_list)):
    not_matched.append(golden_flat_list[i])

In [191]:
# not_matched

In [192]:
import re

def ngrams_partial(string, n=1):
    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

print('All 3-grams in "McDonalds":')
ngrams_partial('McDonalds')

All 3-grams in "McDonalds":

['M', 'c', 'D', 'o', 'n', 'a', 'l', 'd', 's']

In [193]:
from sklearn.feature_extraction.text import TfidfVectorizer

company_names = not_matched
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams_partial)
tf_idf_matrix_partial = vectorizer.fit_transform(company_names)
# company_names

In [194]:
import numpy as np
from scipy.sparse import csr_matrix
import sparse_dot_topn.sparse_dot_topn as ct

def awesome_cossim_top(A, B, ntop, lower_bound=0):
    # force A and B as a CSR matrix.
    # If they have already been CSR, there is no overhead
    A = A.tocsr()
    B = B.tocsr()
    M, _ = A.shape
    _, N = B.shape
 
    idx_dtype = np.int32
 
    nnz_max = M*ntop
 
    indptr = np.zeros(M+1, dtype=idx_dtype)
    indices = np.zeros(nnz_max, dtype=idx_dtype)
    data = np.zeros(nnz_max, dtype=A.dtype)

    ct.sparse_dot_topn(
        M, N, np.asarray(A.indptr, dtype=idx_dtype),
        np.asarray(A.indices, dtype=idx_dtype),
        A.data,
        np.asarray(B.indptr, dtype=idx_dtype),
        np.asarray(B.indices, dtype=idx_dtype),
        B.data,
        ntop,
        lower_bound,
        indptr, indices, data)

    return csr_matrix((data,indices,indptr),shape=(M,N))

In [425]:
import time
t1 = time.time()
matches_partial = awesome_cossim_top(tf_idf_matrix_partial, tf_idf_matrix_partial.transpose(), 40, 0.50)
t = time.time()-t1
print("SELFTIMED:", t)

SELFTIMED: 0.2070331573486328

In [426]:
matches_partial_df = get_matches_df(matches_partial, company_names,len(company_names))
#matches_df.describe
matches_partial_df = matches_partial_df[matches_partial_df['similairity'] <= 0.99999] # Remove all exact matches
# matches_df.sample(20)

# score_partial=0
# for i in range(0,len(not_matched_test)):
#     for j in range(0, len(matches_partial_df)):
#         if (not_matched_test[i] == matches_partial_df['right_side'].tolist()[j]) and (not_matched_test[i] == matches_partial_df['right_side'].tolist()[j]):
#             score_partial+=1
#             break
        
# print('score for mismatched data is', score_partial/len(not_matched_test))

In [427]:
matches_partial_df

,left_side,right_side,similairity
1,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Greg Pollom 218 Fulford Ave Bel Air MD 21014 US,0.835105
2,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Alliance Benefit Group Of Michigan 30100 Teleg...,0.790822
3,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Harrison Group 106 N Baltimore Ave Ocean City ...,0.788953
4,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Cary Kane Llp 1350 Broadway Rm 1400Suite 1400 ...,0.781168
5,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Billy Casper Golf Llc 8300 Boone BlvdSuite 350...,0.778093
6,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,"Ibotta 801 California St, Suite 400 Denver CO ...",0.777955
7,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Air802 2570 Beverly Drive Aurora IL 60502 US,0.777415
8,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Saban Capital Group 10100 Santa Monica Blvd.Su...,0.776992
9,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,RPM Mortgage 2175 N. California BlvdSuite 1000...,0.776670
10,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Icon Architectural Group 4050 Gardenview DrSte...,0.776062
11,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Mercy Housing 1999 BroadwaySuite 1000 Denver C...,0.774275
12,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Nowcom Inc 4751 Wilshire Blvd.Suite 110 Los An...,0.773134
13,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Bayou Outdoor Supercenter 1800 Barksdale Blvd ...,0.772567
14,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Richard Backer CPA 110 W 40th St Rm 201 Ny NY ...,0.771398
15,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Buffalo Nickels Mini Golf & Arcade 241 Elk Dr ...,0.770788
16,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Stability Networks 2404 Bank DriveSuite 100 Bo...,0.769824
17,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Coldstream One 100th Ave NE Ste 102 Bellevue W...,0.769062
18,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Mark Larosa 1088 Hewitt Dr San Carlos CA 94070 US,0.765584
19,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Worldwide Machinery 2200 Post Oak Blvd Ste 140...,0.764762
20,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Baldwin Court Services 104 Hand Ave Bay Minett...,0.764683
21,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,CDW 200 N. Milwaukee Ave. Vernon Hills IL 6006...,0.764008
22,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,ADAMA 3120 Highwoods Blvd # 100 Raleigh NC 276...,0.762956
23,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,City National Bank 1801 West Olympic Blvd. Los...,0.762382
24,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,High Road Capital Partners 1251 Avenue Of The ...,0.762286
25,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Neat 11780 W Pico Blvd Los Angeles CA 90064 US,0.761329
26,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,"Culture Amp 660 Market St, Fl 5 San Francisco ...",0.758417
27,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Offit Kurman 300 E Lombard StSte 2010 Baltimor...,0.758020
28,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,Digital Ocean 101 Avenue Of The Americas10th F...,0.756409
29,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,MDU Resources Inc. 1200 W Century Ave Bismarck...,0.755405
30,Barwick Cpa 218 Fulford Ave Bel Air 210140000 ...,VitalSmarts 282 River Bend Lane Suite 100 Pro...,0.754563
...,...,...,...
1043,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",BATTERIESPLUS LLC 1325 WALNUT RIDGE DR HARTLAN...,0.845425
1044,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",SPEEDWAY MOTORS INC 340 VICTORY LN LINCOLN 685...,0.823736
1045,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",STARPOINTE VENTURES 5030 CAMPUS DRIVE SUITE B ...,0.812129
1046,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",CHARLES JANSEN 9724 TWEEDY LN DOWNEY 902403142...,0.801916
1047,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...","LEAKE & WATTS SERVICES, INC 463 HAWTHORNE AVE ...",0.799103
1048,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",CLINIC BY THE SEA 16295 WILLOW CREEK ROAD LEWE...,0.790013
1049,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...","HANSON WALTER & ASSOCIATES, IN 8 BROADWAY SUIT...",0.786869
1050,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",COUNTY CONCRETE 50 RAILROAD AVE KENVIL NJ 7847 US,0.786656
1051,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",COUNTY CONCRETE 50 RAILROAD AVE KENVIL NJ 7847 US,0.786656
1052,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",DS LIQUIDATION LP 2601 AVENUE OF THE STARS FRI...,0.784966
1053,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",RICHARD C BARDI & ASSOCIATES 6 BEACON STREET B...,0.781625
1054,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...","AMERIPRISE BANK, FSB 207 E LIVINGSTON ST ORLAN...",0.775455
1055,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",INSTITUTE FOR FAMILY HEALTH 2006 MADISON AVE F...,0.773616
1056,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",KONRAD BEVERAGE COMPANY 1320 HURFFVILLE ROAD D...,0.765967
1057,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",FIDELITY INVESTMENTS 200 SEAPORT BLVD BOSTON M...,0.760184
1058,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",CON-CIENCIA EN TI SPA CARLOS BESA 657 NUNO SAN...,0.755939
1059,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",GLOBAL VALUE COMMERCE INC 7320 ACC BLVD RALEIG...,0.753220
1060,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",Sony Centres 43-45 THE SHAMBLESWORCESTER WORCE...,0.749659
1061,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...","DE.RA.DO. SRL VIA G.B. PIRELLI, SN - Z.IND. MA...",0.740713
1062,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",LUND FOOD HOLDINGS INC 4100 W 50TH ST MINNEAPO...,0.740650
1063,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",ROGERS CORP Noorwegenstraat 3 Evergem OOST-VLA...,0.737519
1064,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",PROMETEIA SPA VIA GUGLIELMO MARCONI 43 Bologna...,0.736187
1065,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",BJ SERVICES COMPANY U.S.A 11211 FM 2920 ROAD T...,0.720888
1066,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",ARGOS SCHOOL CORPORATION 410 N FIRST ST ARGOS ...,0.720370
1067,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",ARGOS SCHOOL CORPORATION 410 N FIRST ST ARGOS ...,0.720370
1068,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",PIMA MEDICAL INSTITUTE 957 S DOBSON RD MESA 85...,0.716472
1069,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",HYDROJET 450 GATEWAY DRIVE READING 196010000 P...,0.715004
1070,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",Family Office RPP LLC 450 PARK AVENUE NEW YORK...,0.706193
1071,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",CITY OF LAKE FOREST 800 N. FIELD DRIVE LAKE FO...,0.702044
1072,"WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE;...",PRAVIS LLC 113 SAVANNAH LOOP MOUNTAIN VIEW 940...,0.699755

In [428]:
# not_matched_test[2] == matches_partial_df['right_side'].tolist()[3]

In [429]:
golden_partial_mcn_list = []
for i in range(0, len(matches_partial_df)):
    
    if matches_partial_df['right_side'].tolist()[i] in golden_dict.values():
        
        for mcn, value in golden_dict.items():
    
            if (value == matches_partial_df['right_side'].tolist()[i]):
            
                golden_partial_mcn_list.append(mcn)
                
                break
 
    else:
        golden_partial_mcn_list.append(0)

In [430]:
golden_partial_mcn_list

['MCN-47996044',
 'MCN-33054732',
 'MCN-77832503',
 'MCN-19360519',
 'MCN-87871304',
 'MCN-79112182',
 'MCN-77584313',
 'MCN-33562561',
 'MCN-52886677',
 'MCN-07027468',
 'MCN-39204903',
 'MCN-17831279',
 'MCN-28259845',
 'MCN-99338228',
 'MCN-09948183',
 'MCN-73858987',
 'MCN-85133510',
 'MCN-32460627',
 'MCN-22935836',
 'MCN-46433696',
 'MCN-87974872',
 'MCN-66459421',
 'MCN-42850293',
 'MCN-18696235',
 'MCN-30333879',
 'MCN-00801612',
 'MCN-36394624',
 'MCN-92441326',
 'MCN-79099330',
 'MCN-04700861',
 'MCN-54188037',
 'MCN-08221586',
 'MCN-00480799',
 'MCN-13307268',
 'MCN-22468291',
 'MCN-80773254',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-87747166',
 'MCN-52283206',
 'MCN-58837910',
 'MCN-41060805',
 'MCN-18696235',
 'MCN-58429627',
 'MCN-08221586',
 'MCN-59558444',
 'MCN-93316098',
 'MCN-74418366',
 'MCN-62093676',
 'MCN-58183385',
 'MCN-65006922',
 'MCN-50643203',
 'MCN-45539173',
 'MCN-34984396',
 'MCN-12607114',
 'MCN-83916057',
 'MCN-30055226',
 'MCN-16993425',
 'MCN-33054732',
 'MCN-45173538',
 'MCN-92484866',
 'MCN-04628178',
 'MCN-99787175',
 'MCN-79034379',
 'MCN-28321096',
 'MCN-91546208',
 'MCN-88086797',
 'MCN-68242697',
 'MCN-27306514',
 'MCN-58436487',
 'MCN-87871304',
 'MCN-64670497',
 'MCN-00000206',
 'MCN-27067945',
 'MCN-96525594',
 'MCN-37185433',
 'MCN-02720697',
 'MCN-59689988',
 'MCN-56591783',
 'MCN-80894033',
 'MCN-05431464',
 'MCN-22935836',
 'MCN-73869722',
 'MCN-46804220',
 'MCN-63165946',
 'MCN-15882730',
 'MCN-31332520',
 'MCN-73424948',
 'MCN-59357697',
 'MCN-78696727',
 'MCN-62093676',
 'MCN-45676785',
 'MCN-93316098',
 'MCN-73394497',
 'MCN-58837910',
 'MCN-79034379',
 'MCN-34841615',
 'MCN-53487372',
 'MCN-99419303',
 'MCN-42566273',
 'MCN-50643203',
 'MCN-88086797',
 'MCN-32460627',
 'MCN-18836197',
 'MCN-02718244',
 'MCN-82040030',
 'MCN-17585303',
 'MCN-30141439',
 'MCN-10829545',
 'MCN-98685779',
 'MCN-24897499',
 'MCN-28321096',
 'MCN-95908491',
 'MCN-07027468',
 'MCN-80955804',
 'MCN-38802425',
 'MCN-81945311',
 'MCN-40215491',
 'MCN-20356642',
 'MCN-14649400',
 'MCN-81676191',
 'MCN-09000630',
 'MCN-66349059',
 'MCN-04700861',
 'MCN-22935836',
 'MCN-77584313',
 'MCN-99419303',
 'MCN-67486028',
 'MCN-44058151',
 'MCN-33562561',
 'MCN-42566273',
 'MCN-58027649',
 'MCN-78988152',
 'MCN-13801357',
 'MCN-66444265',
 'MCN-31968660',
 'MCN-47796960',
 'MCN-24897499',
 'MCN-31334086',
 'MCN-72135413',
 'MCN-04845501',
 'MCN-31332520',
 'MCN-73869722',
 'MCN-02718244',
 'MCN-45509359',
 'MCN-00283700',
 'MCN-66029039',
 'MCN-61529612',
 'MCN-36315244',
 'MCN-69360943',
 'MCN-13307268',
 'MCN-32283519',
 'MCN-06721972',
 'MCN-61480013',
 'MCN-79112182',
 'MCN-33045179',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-85675365',
 0,
 0,
 'MCN-33076948',
 0,
 0,
 0,
 0,
 'MCN-17657159',
 'MCN-17657159',
 0,
 0,
 0,
 'MCN-67086967',
 'MCN-85132320',
 'MCN-04845501',
 'MCN-95709814',
 0,
 0,
 0,
 'MCN-44974772',
 0,
 0,
 0,
 0,
 0,
 'MCN-63253940',
 'MCN-21807796',
 'MCN-19356219',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-85675365',
 0,
 0,
 'MCN-33076948',
 0,
 0,
 0,
 0,
 'MCN-17657159',
 'MCN-17657159',
 0,
 0,
 0,
 'MCN-67086967',
 'MCN-85132320',
 'MCN-04845501',
 'MCN-95709814',
 0,
 0,
 0,
 'MCN-44974772',
 0,
 0,
 0,
 0,
 0,
 'MCN-63253940',
 'MCN-21807796',
 'MCN-19356219',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-85675365',
 'MCN-33076948',
 0,
 'MCN-95709814',
 0,
 0,
 0,
 0,
 'MCN-04845501',
 0,
 'MCN-67086967',
 0,
 0,
 'MCN-08650888',
 'MCN-17657159',
 'MCN-17657159',
 0,
 0,
 0,
 'MCN-63253940',
 'MCN-87939466',
 0,
 'MCN-00340056',
 0,
 'MCN-85443383',
 'MCN-13307268',
 'MCN-30942729',
 0,
 'MCN-19356219',
 0,
 0,
 0,
 0,
 'MCN-17657159',
 'MCN-17657159',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-95709814',
 'MCN-67086967',
 0,
 0,
 0,
 0,
 'MCN-85675365',
 0,
 'MCN-33076948',
 0,
 0,
 0,
 0,
 0,
 'MCN-87486185',
 0,
 'MCN-85132320',
 0,
 0,
 'MCN-73720661',
 'MCN-74584861',
 'MCN-87939466',
 0,
 'MCN-47594709',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-95709814',
 'MCN-33076948',
 0,
 0,
 0,
 0,
 'MCN-85675365',
 'MCN-67086967',
 'MCN-17657159',
 'MCN-17657159',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-87939466',
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-47594709',
 0,
 0,
 'MCN-87486185',
 0,
 'MCN-98048695',
 'MCN-94064651',
 'MCN-76675012',
 'MCN-42935599',
 'MCN-87747166',
 'MCN-79034379',
 'MCN-40337744',
 'MCN-63165946',
 'MCN-45585225',
 'MCN-50403218',
 'MCN-92484866',
 'MCN-40531177',
 'MCN-74098636',
 'MCN-40569553',
 'MCN-03250184',
 'MCN-86740824',
 'MCN-01637393',
 'MCN-47804886',
 'MCN-72933411',
 'MCN-56433480',
 'MCN-07300270',
 'MCN-88086797',
 'MCN-32262104',
 'MCN-72135413',
 'MCN-98504735',
 'MCN-42566273',
 'MCN-60115695',
 'MCN-45676785',
 'MCN-00001062',
 'MCN-12312190',
 'MCN-09256637',
 'MCN-67971721',
 'MCN-30055226',
 'MCN-50333334',
 'MCN-92032791',
 'MCN-53487372',
 'MCN-63348128',
 'MCN-28259573',
 0,
 0,
 0,
 'MCN-85675365',
 0,
 0,
 0,
 0,
 0,
 'MCN-04845501',
 0,
 'MCN-17657159',
 'MCN-17657159',
 0,
 0,
 0,
 0,
 'MCN-33076948',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-95709814',
 'MCN-67086967',
 'MCN-85132320',
 0,
 0,
 'MCN-87939466',
 0,
 'MCN-44974772',
 0,
 'MCN-74584861',
 0,
 'MCN-90879218',
 0,
 0,
 0,
 'MCN-17657159',
 'MCN-17657159',
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-74584861',
 0,
 'MCN-87939466',
 0,
 0,
 'MCN-99338228',
 0,
 'MCN-60684677',
 0,
 'MCN-85132320',
 0,
 'MCN-96819198',
 'MCN-18696235',
 'MCN-95709814',
 'MCN-30888550',
 'MCN-55792581',
 'MCN-38822396',
 'MCN-47594709',
 0,
 'MCN-19360519',
 'MCN-44974772',
 'MCN-87050641',
 0,
 'MCN-92441326',
 'MCN-36582153',
 'MCN-37518650',
 'MCN-59558444',
 'MCN-36127452',
 'MCN-17657159',
 'MCN-17657159',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-95709814',
 0,
 0,
 0,
 0,
 0,
 'MCN-87486185',
 'MCN-74584861',
 'MCN-73720661',
 'MCN-85675365',
 'MCN-85132320',
 'MCN-87939466',
 'MCN-67086967',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-33076948',
 'MCN-47594709',
 0,
 0,
 0,
 'MCN-67086967',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-95709814',
 0,
 0,
 'MCN-33076948',
 0,
 0,
 0,
 0,
 'MCN-17657159',
 'MCN-17657159',
 'MCN-87939466',
 0,
 0,
 0,
 'MCN-73720661',
 0,
 0,
 0,
 0,
 'MCN-85675365',
 0,
 'MCN-87486185',
 'MCN-04845501',
 'MCN-87050641',
 'MCN-47594709',
 'MCN-74584861',
 0,
 'MCN-66723573',
 0,
 0,
 0,
 'MCN-95709814',
 0,
 0,
 'MCN-17657159',
 'MCN-17657159',
 0,
 0,
 0,
 0,
 0,
 'MCN-67086967',
 0,
 0,
 'MCN-33076948',
 0,
 'MCN-74584861',
 0,
 'MCN-85675365',
 0,
 'MCN-73720661',
 'MCN-85132320',
 0,
 'MCN-87486185',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-87939466',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-85675365',
 0,
 0,
 0,
 0,
 0,
 'MCN-04845501',
 0,
 'MCN-17657159',
 'MCN-17657159',
 0,
 0,
 0,
 0,
 'MCN-33076948',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-95709814',
 'MCN-67086967',
 'MCN-85132320',
 0,
 0,
 'MCN-87939466',
 0,
 'MCN-44974772',
 0,
 'MCN-74584861',
 0,
 'MCN-90879218',
 'MCN-96828407',
 'MCN-87939466',
 'MCN-44216745',
 'MCN-78887817',
 'MCN-04177474',
 'MCN-98827657',
 'MCN-12938355',
 'MCN-12854070',
 'MCN-20333938',
 'MCN-86679919',
 'MCN-36315244',
 0,
 'MCN-59689988',
 'MCN-00283700',
 'MCN-58027649',
 'MCN-13307268',
 'MCN-85133510',
 'MCN-38737831',
 'MCN-59357697',
 'MCN-39364148',
 'MCN-93452276',
 'MCN-52886677',
 'MCN-44269964',
 'MCN-38802425',
 'MCN-04845501',
 'MCN-17172651',
 'MCN-44676091',
 'MCN-36127452',
 'MCN-43659415',
 'MCN-52985411',
 'MCN-33367338',
 'MCN-76050818',
 'MCN-18696235',
 0,
 0,
 'MCN-24897499',
 'MCN-16959438',
 'MCN-86087471',
 'MCN-74327053',
 'MCN-98048695',
 'MCN-94064651',
 'MCN-76675012',
 'MCN-42935599',
 'MCN-87747166',
 'MCN-79034379',
 'MCN-40337744',
 'MCN-63165946',
 'MCN-45585225',
 'MCN-50403218',
 'MCN-92484866',
 'MCN-40531177',
 'MCN-74098636',
 'MCN-40569553',
 'MCN-03250184',
 'MCN-86740824',
 'MCN-01637393',
 'MCN-47804886',
 'MCN-72933411',
 'MCN-56433480',
 'MCN-07300270',
 'MCN-88086797',
 'MCN-32262104',
 'MCN-72135413',
 'MCN-98504735',
 'MCN-42566273',
 'MCN-60115695',
 'MCN-45676785',
 'MCN-00001062',
 'MCN-12312190',
 'MCN-09256637',
 'MCN-67971721',
 'MCN-30055226',
 'MCN-50333334',
 'MCN-92032791',
 'MCN-53487372',
 'MCN-63348128',
 'MCN-28259573',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-95709814',
 0,
 0,
 0,
 'MCN-17657159',
 'MCN-17657159',
 0,
 'MCN-67086967',
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-85132320',
 0,
 0,
 'MCN-85675365',
 'MCN-33076948',
 0,
 0,
 'MCN-74584861',
 0,
 'MCN-87486185',
 0,
 0,
 0,
 0,
 0,
 'MCN-04845501',
 'MCN-87939466',
 0,
 0,
 0,
 0,
 0,
 'MCN-95709814',
 0,
 0,
 0,
 0,
 'MCN-17657159',
 'MCN-17657159',
 'MCN-67086967',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-33076948',
 0,
 'MCN-87939466',
 0,
 'MCN-44974772',
 0,
 0,
 0,
 0,
 'MCN-85675365',
 'MCN-85132320',
 'MCN-74584861',
 'MCN-47594709',
 'MCN-73720661',
 0,
 0,
 'MCN-19211197',
 'MCN-39019891',
 'MCN-86087471',
 0,
 0,
 'MCN-04845501',
 'MCN-87939466',
 0,
 0,
 0,
 0,
 'MCN-32203848',
 'MCN-32203848',
 'MCN-85675365',
 'MCN-38219264',
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-12938355',
 'MCN-67086967',
 0,
 'MCN-95709814',
 0,
 0,
 'MCN-33076948',
 0,
 0,
 0,
 'MCN-44676091',
 0,
 'MCN-47594709',
 'MCN-94125377',
 'MCN-17657159',
 'MCN-17657159',
 0,
 'MCN-03280642',
 'MCN-46974730',
 'MCN-22765583',
 0,
 0,
 0,
 0,
 'MCN-95709814',
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-33076948',
 0,
 'MCN-17657159',
 'MCN-17657159',
 'MCN-04845501',
 0,
 'MCN-85675365',
 0,
 0,
 0,
 'MCN-38219264',
 'MCN-67086967',
 0,
 0,
 0,
 0,
 0,
 'MCN-74584861',
 0,
 'MCN-87939466',
 0,
 0,
 'MCN-51392696',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-04845501',
 'MCN-87939466',
 0,
 0,
 0,
 0,
 'MCN-32203848',
 'MCN-32203848',
 'MCN-85675365',
 'MCN-38219264',
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-12938355',
 'MCN-67086967',
 0,
 'MCN-95709814',
 0,
 0,
 'MCN-33076948',
 0,
 0,
 0,
 'MCN-44676091',
 0,
 'MCN-47594709',
 'MCN-94125377',
 'MCN-17657159',
 'MCN-17657159',
 0,
 'MCN-03280642',
 'MCN-46974730',
 'MCN-22765583',
 'MCN-91546208',
 'MCN-56827759',
 'MCN-17172651',
 'MCN-30055226',
 'MCN-09256637',
 'MCN-08838292',
 'MCN-50288034',
 'MCN-98827657',
 'MCN-02720697',
 'MCN-58837910',
 'MCN-43659415',
 'MCN-94125377',
 'MCN-97683747',
 'MCN-20074202',
 'MCN-46740835',
 'MCN-34157542',
 'MCN-84721081',
 'MCN-18142383',
 'MCN-73571145',
 'MCN-45585225',
 'MCN-33736893',
 'MCN-66261487',
 'MCN-44269964',
 'MCN-52147363',
 'MCN-99787175',
 'MCN-38802425',
 'MCN-48311228',
 'MCN-88595301',
 'MCN-86470432',
 'MCN-07418441',
 'MCN-55058791',
 'MCN-77832503',
 'MCN-56515006',
 'MCN-18373716',
 'MCN-08221586',
 'MCN-72135413',
 'MCN-00001062',
 'MCN-64885369',
 'MCN-02818589',
 'MCN-17657159',
 'MCN-17657159',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-85132320',
 0,
 'MCN-95709814',
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-67086967',
 0,
 0,
 0,
 0,
 0,
 'MCN-74584861',
 0,
 'MCN-33076948',
 0,
 0,
 0,
 0,
 'MCN-73720661',
 0,
 0,
 'MCN-85675365',
 0,
 0,
 'MCN-87486185',
 'MCN-39019891',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-17657159',
 'MCN-17657159',
 0,
 'MCN-87486185',
 0,
 0,
 0,
 0,
 0,
 0,
 'MCN-67086967',
 0,
 0,
 'MCN-95709814',
 'MCN-73720661',
 0,
 'MCN-74584861',
 'MCN-85132320',
 'MCN-85675365',
 0,
 0,
 'MCN-87939466',
 'MCN-33076948',
 0,
 ...]

In [431]:
test_partial_mcn_list = []
for i in range(0, len(matches_partial_df)):
    
    if matches_partial_df['left_side'].tolist()[i] in test_dict.values():
        
        for mcn, value in test_dict.items():
    
            if (value == matches_partial_df['left_side'].tolist()[i]):
            
                test_partial_mcn_list.append(mcn)
                
                break
            
    else:
        test_partial_mcn_list.append(0)

In [432]:
test_partial_mcn_list

['MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-47996044',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-08192922',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-56591783',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-04845501',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-00340056',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-08309418',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-04097510',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-60783235',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-24327457',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-26537322',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-17437633',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-49260309',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-59249559',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-17657159',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-74098636',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-86087471',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-84970424',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-32203848',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-99971254',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-77879755',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 'MCN-45359866',
 ...]

In [433]:
len(test_partial_mcn_list)

1038

In [434]:
len(golden_partial_mcn_list)

1038

In [435]:
score = 0
score_list=[]
matched_list_step2=[]
for i in range(0, len(test_partial_mcn_list)):
  
    if test_partial_mcn_list[i] == golden_partial_mcn_list[i]:
        if test_partial_mcn_list[i] != 0:
            score+=1
            # score_list is for removing dumplicates from the final matched data
            score_list.extend(([test_partial_mcn_list[i], matches_partial_df['left_side'].tolist()[i]]))
            print("MCN Number in test data is {} and test sample is {}".format(test_partial_mcn_list[i], matches_partial_df['left_side'].tolist()[i]))
            print("MCN Number in golden data is {} and golden sample is {}".format(golden_partial_mcn_list[i], matches_partial_df['right_side'].tolist()[i]))
            print("score is {}".format(matches_partial_df['similairity'].tolist()[i]))
            print('================================================================================') 
            matched_list_step2.append(matches_partial_df['left_side'].tolist()[i])
        if test_partial_mcn_list[i] == test_partial_mcn_list[i+1]:
            
            continue


            
accuracy = 0.5*len(set(score_list))/(len(not_matched_test)) *100 
                  
print('====================================================')   
print('====================================================')  
print("Accuracy on mismatched data is {} %".format(accuracy))

MCN Number in test data is MCN-47996044 and test sample is Barwick Cpa 218 Fulford Ave Bel Air 210140000 MD US
MCN Number in golden data is MCN-47996044 and golden sample is Greg Pollom 218 Fulford Ave Bel Air MD 21014 US
score is 0.8351052468726947
================================================================================
MCN Number in test data is MCN-56591783 and test sample is Harwood International Inc 3130 N. Harwood Street Dallas 752010000 TX US
MCN Number in golden data is MCN-56591783 and golden sample is Harwood International Inc 2501 N Harwood St Ste 1400 Dallas TX 75201 US
score is 0.9635437066930412
================================================================================
MCN Number in test data is MCN-04845501 and test sample is Steve Quiroz 10625 N. Lamar Austin 787530000 TX US
MCN Number in golden data is MCN-04845501 and golden sample is 3rd Coast THIRD COAST AUTOS 10625 N Lamar Blvd Austin TX 78753 US
score is 0.7231098960675955
================================================================================
MCN Number in test data is MCN-00340056 and test sample is CITY OF ST. LOUIS, MO - ST. LOUIS ZOO SAINT LOUIS ZOO SAINT LOUIS 63110 MO US
MCN Number in golden data is MCN-00340056 and golden sample is Saint Louis Zoo One Government Dr St. Louis MO 63033 US
score is 0.5776817389167608
================================================================================
MCN Number in test data is MCN-86087471 and test sample is CITY OF LAKE FOREST 800 N. FIELD DRIVE LAKE FOREST 600450000 IL US
MCN Number in golden data is MCN-86087471 and golden sample is City Of Lake Forest 220 E Deerpath Lake Forest IL 60045 US
score is 0.6164799286223376
================================================================================
MCN Number in test data is MCN-32203848 and test sample is AHSTW CSD 768 S MAPLE ST AVOCA 51521 IA US
MCN Number in golden data is MCN-32203848 and golden sample is AHST Comm School District 768 S. Maple St Avoca IA 51521 US
score is 0.761939280311683
================================================================================
MCN Number in test data is MCN-32203848 and test sample is AHSTW CSD 768 S MAPLE ST AVOCA 51521 IA US
MCN Number in golden data is MCN-32203848 and golden sample is AHST Comm School District 768 S. Maple St Avoca IA 51521 US
score is 0.761939280311683
================================================================================
MCN Number in test data is MCN-32203848 and test sample is AHSTW CSD 768 S MAPLE ST AVOCA 51521 IA US
MCN Number in golden data is MCN-32203848 and golden sample is AHST Comm School District 768 S. Maple St Avoca IA 51521 US
score is 0.761939280311683
================================================================================
MCN Number in test data is MCN-32203848 and test sample is AHSTW CSD 768 S MAPLE ST AVOCA 51521 IA US
MCN Number in golden data is MCN-32203848 and golden sample is AHST Comm School District 768 S. Maple St Avoca IA 51521 US
score is 0.761939280311683
================================================================================
====================================================
====================================================
Accuracy on mismatched data is 15.0 %

In [420]:
# set(score_list)

In [421]:
# not_matched

In [422]:
# not_matched_test

In [423]:
# matches_partial_df.to_csv('test.csv')

In [436]:
matched_list_step2 = list(set(matched_list_step2))
matched_list_step2

['Harwood International Inc 3130 N. Harwood Street Dallas 752010000 TX US',
 'AHSTW CSD 768 S MAPLE ST AVOCA 51521 IA US',
 'Barwick Cpa 218 Fulford Ave Bel Air 210140000 MD US',
 'CITY OF LAKE FOREST 800 N. FIELD DRIVE LAKE FOREST 600450000 IL US',
 'CITY OF ST. LOUIS, MO - ST. LOUIS ZOO SAINT LOUIS ZOO SAINT LOUIS 63110 MO US',
 'Steve Quiroz 10625 N. Lamar Austin 787530000 TX US']

In [118]:
not_matched_test_step2 = [item for item in not_matched_test if item not in matched_list_step2]

In [119]:
len(not_matched_test_step2)

33

In [209]:
# df  = matches_partial_df[matches_partial_df['similairity']>.75]

In [210]:
# [index for index in range(0, len(y_pred)) if y_pred[index]==1]

In [211]:
not_matched_test_step2

['Professional Physical Therapy 333 Earle Ovington Blvd  Suite 225 Uniondale 115530000 NY US',
 'ARGOS SCHOOL CORPORATION 410 N FIRST ST ARGOS 46501 IN US',
 'ARGOS SCHOOL CORPORATION 410 N FIRST ST ARGOS 46501 IN US',
 'SNIDER INSURANCE GROUP, LLC 1438 WILKESBORO HWY STATESVILLE 28625 NC US',
 'HANSON WALTER & ASSOCIATES, IN 8 BROADWAY SUITE 104 KISSIMMEE 34741 FL US',
 'Mars International 60 Kingsbridge Road Piscataway 88543919 NJ US',
 'SALATA CORPORATION 16720 PARK ROW HOUSTON 77084 TX US',
 'Family Office RPP LLC 450 PARK AVENUE NEW YORK 10022 NY US',
 'LEAKE & WATTS SERVICES, INC 463 HAWTHORNE AVE YONKERS 10705 NY US',
 'BATTERIESPLUS LLC 1325 WALNUT RIDGE DR HARTLAND 53029 WI US',
 'STARPOINTE VENTURES 5030 CAMPUS DRIVE SUITE B NEWPORT BEACH 92660 CA US',
 'SALATA CORPORATION 16720 PARK ROW HOUSTON 77084 TX US',
 'Next Step HealthCare, LLC 392 MAIN ST SACO 04072-1521 ME US',
 'Mars International 60 Kingsbridge Road Piscataway 88543919 NJ US',
 'AG PARTNERS IT 101 BROADWAY STREET N GOODHUE 55027 MN US',
 'BJ SERVICES COMPANY U.S.A 11211 FM 2920 ROAD TOMBALL 77375 TX US',
 'North American Health Care, Inc 32836 Pacific Coast Hwy Ste 203 Dana Point 926293473 CA US',
 'KONRAD BEVERAGE COMPANY 1320 HURFFVILLE ROAD DEPTFORD 8096 NJ US',
 'CLINIC BY THE SEA 16295 WILLOW CREEK ROAD LEWES 19958 DE US',
 'WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE; STE 235 ROCHESTER 14623 NY US',
 'PIMA MEDICAL INSTITUTE 957 S DOBSON RD MESA 85202 AZ US',
 'LUND FOOD HOLDINGS INC 4100 W 50TH ST MINNEAPOLIS 55424 MN US',
 'HYDROJET 450 GATEWAY DRIVE READING 196010000 PA US',
 'INSTITUTE FOR FAMILY HEALTH 2006 MADISON AVE FL 5 NEW YORK 10035 NY US',
 'CHARLES JANSEN 9724 TWEEDY LN DOWNEY 902403142 CA US',
 'SPEEDWAY MOTORS INC 340 VICTORY LN LINCOLN 68528 NE US',
 'GLOBAL VALUE COMMERCE INC 7320 ACC BLVD RALEIGH 27617 NC US',
 'PRAVIS LLC 113 SAVANNAH LOOP MOUNTAIN VIEW 940433871 CA US',
 'AMERIPRISE BANK, FSB 207 E LIVINGSTON ST ORLANDO 32801 FL US',
 'VIBE CREDIT UNION 44575 W 12 MILE RD NOVI 48377 MI US',
 'SURRY COUNTY 139 CHURCH OF CHRIST RD DOBSON 27017 NC US',
 'DS LIQUIDATION LP 2601 AVENUE OF THE STARS FRISCO 75034 TX US',
 'RICHARD C BARDI & ASSOCIATES 6 BEACON STREET BOSTON 2108 MA US']

In [216]:
test_partial_mcn_list_step2 = []
for i in range(0, len(not_matched_test_step2)):
    for mcn, value in test_dict.items():
           
        if (value == not_matched_test_step2[i]):
                       
                       
            test_partial_mcn_list_step2.append(mcn)
                
            break
            
#     else:
#         test_partial_mcn_list_step2.append(0)

In [217]:
len(test_partial_mcn_list_step2)

33

In [218]:
test_partial_mcn_list_step2

['MCN-08192922',
 'MCN-84353471',
 'MCN-84353471',
 'MCN-08309418',
 'MCN-04097510',
 'MCN-17657159',
 'MCN-49260309',
 'MCN-60783235',
 'MCN-24327457',
 'MCN-26537322',
 'MCN-17437633',
 'MCN-49260309',
 'MCN-59249559',
 'MCN-17657159',
 'MCN-74098636',
 'MCN-84970424',
 'MCN-99971254',
 'MCN-77879755',
 'MCN-45359866',
 'MCN-48009247',
 'MCN-66029039',
 'MCN-77491597',
 'MCN-70084113',
 'MCN-52985411',
 'MCN-68263648',
 'MCN-69524634',
 'MCN-40479299',
 'MCN-76272798',
 'MCN-50529301',
 'MCN-54537826',
 'MCN-01281248',
 'MCN-28987826',
 'MCN-87123838']

In [252]:
test_data_split_features = []
for i in range(0, len(not_matched_test_step2)):
    z= not_matched_test_step2[i].split(' ')
    z[2:-2] = []
    z = ' '.join(z)
    test_data_split_features.append(z)

In [253]:
test_data_split_features

['Professional Physical NY US',
 'ARGOS SCHOOL IN US',
 'ARGOS SCHOOL IN US',
 'SNIDER INSURANCE NC US',
 'HANSON WALTER FL US',
 'Mars International NJ US',
 'SALATA CORPORATION TX US',
 'Family Office NY US',
 'LEAKE & NY US',
 'BATTERIESPLUS LLC WI US',
 'STARPOINTE VENTURES CA US',
 'SALATA CORPORATION TX US',
 'Next Step ME US',
 'Mars International NJ US',
 'AG PARTNERS MN US',
 'BJ SERVICES TX US',
 'North American CA US',
 'KONRAD BEVERAGE NJ US',
 'CLINIC BY DE US',
 'WATCHDOG BLDG NY US',
 'PIMA MEDICAL AZ US',
 'LUND FOOD MN US',
 'HYDROJET 450 PA US',
 'INSTITUTE FOR NY US',
 'CHARLES JANSEN CA US',
 'SPEEDWAY MOTORS NE US',
 'GLOBAL VALUE NC US',
 'PRAVIS LLC CA US',
 'AMERIPRISE BANK, FL US',
 'VIBE CREDIT MI US',
 'SURRY COUNTY NC US',
 'DS LIQUIDATION TX US',
 'RICHARD C MA US']

In [255]:
choices = golden_dict.values()
score= 0
found_flag=0
not_found={}
for k in 
for i in range(0, len(test_data_split_features)-1):
    found_flag=0
    not_found_iteration = 0
    chlist=process.extract(test_data_split_features[i], choices, limit=25)
    print("{},   --test--{}".format(test_data_split_features[i], test_partial_mcn_list_step2[i]))
    
    for mcn,value in golden_dict.items():
        for j in range(0,24):
            if value == chlist[j][0]:
                if test_partial_mcn_list_step2[i] == mcn:
                    score+=1
                    
                    print("{},   --MDM--{}".format(chlist[j][0], mcn))
                    print("===================================================")
                    found_flag=1
                    break
    if found_flag == 0:
        not_found_iteration.append(i)
        not_found[k] = not_found_iteration
     
print("Total matches found are {} out of {}".format(score, len(test_data_split_features)))        
print('accuracy is', 100* score/len(test_data_split_features), '%')
print('mismatched sample indexes in test data are:')
print(not_found)
print("===================================================")
print('We are done with 1st level of matching')

Professional Physical NY US,   --test--MCN-08192922
Professional Physical Therapy 800 Veteran Memorial HwyCl-100 Hauppauge NY 11788 US,   --MDM--MCN-08192922
===================================================
ARGOS SCHOOL IN US,   --test--MCN-84353471
Argos Community School District 410 N First St Argos IN 46501 US,   --MDM--MCN-84353471
===================================================
ARGOS SCHOOL IN US,   --test--MCN-84353471
Argos Community School District 410 N First St Argos IN 46501 US,   --MDM--MCN-84353471
===================================================
SNIDER INSURANCE NC US,   --test--MCN-08309418
HANSON WALTER FL US,   --test--MCN-04097510
Hanson and Walter 400 W Emmett Street Kissimmee FL 34741 US,   --MDM--MCN-04097510
===================================================
Mars International NJ US,   --test--MCN-17657159
COUNTY CONCRETE 50 RAILROAD AVE KENVIL NJ 7847 US,   --MDM--MCN-17657159
===================================================
SALATA CORPORATION TX US,   --test--MCN-49260309
Family Office NY US,   --test--MCN-60783235
LEAKE & NY US,   --test--MCN-24327457
BATTERIESPLUS LLC WI US,   --test--MCN-26537322
STARPOINTE VENTURES CA US,   --test--MCN-17437633
SALATA CORPORATION TX US,   --test--MCN-49260309
Next Step ME US,   --test--MCN-59249559
Mars International NJ US,   --test--MCN-17657159
COUNTY CONCRETE 50 RAILROAD AVE KENVIL NJ 7847 US,   --MDM--MCN-17657159
===================================================
AG PARTNERS MN US,   --test--MCN-74098636
BJ SERVICES TX US,   --test--MCN-84970424
North American CA US,   --test--MCN-99971254
KONRAD BEVERAGE NJ US,   --test--MCN-77879755
CLINIC BY DE US,   --test--MCN-45359866
WATCHDOG BLDG NY US,   --test--MCN-48009247
PIMA MEDICAL AZ US,   --test--MCN-66029039
LUND FOOD MN US,   --test--MCN-77491597
HYDROJET 450 PA US,   --test--MCN-70084113
INSTITUTE FOR NY US,   --test--MCN-52985411
CHARLES JANSEN CA US,   --test--MCN-68263648
SPEEDWAY MOTORS NE US,   --test--MCN-69524634
GLOBAL VALUE NC US,   --test--MCN-40479299
PRAVIS LLC CA US,   --test--MCN-76272798
AMERIPRISE BANK, FL US,   --test--MCN-50529301
VIBE CREDIT MI US,   --test--MCN-54537826
SURRY COUNTY NC US,   --test--MCN-01281248
DS LIQUIDATION TX US,   --test--MCN-28987826
Total matches found are 6 out of 33
accuracy is 18.181818181818183 %
mismatched sample indexes in test data are:
[3, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
===================================================
We are done with 1st level of matching

['Barwick Cpa 218 Fulford Ave Bel Air 210140000 MD US',
 'Little Apple Toyota Honda 2828 Amherst Ave Manhattan 665023096 KS US',
 'Adp Network Solutions 76002379 16177 Sw 155 Ave Miami 331870000 FL US',
 'Prestige Subaru Suzuki08320005 585 Tunnel Rd Asheville 288050000 NC US',
 'WOLBERG ELECTRICAL SUPPLY COMPANY I 35 INDUSTRIAL PARK ROAD ALBANY 12206 NY US',
 'ST FRANCIS COUNTY CIRCUIT CLERK 313 S IZARD ST FORREST CITY 72335 AR US',
 'Ramsey Chrysler Jeep76044582 1555 Rte 17 S Ramsey 74460000 NJ US',
 'Presidio Capital Management 12626 High Bluff Dr Ste 145 San Diego 921302074 CA US',
 'THE DAIRY FARM COMPANY 6 MAROON EXT BONITA HOMES CONCEPCION MARIKINA 1800 METRO MANILA PH',
 'Professional Physical Therapy 333 Earle Ovington Blvd  Suite 225 Uniondale 115530000 NY US',
 'BUCCAN 350 S COUNTY RD PALM BEACH 334804481 FL US',
 'LES SCHWAB TIRES 20900 COOLEY RD BEND 97701 OR US',
 'Capitol Cadillac 76071029 6500 Capitol Dr Greenbelt 207700000 MD US',
 'Capitol Cadillac 76071029 6500 Capitol Dr Greenbelt 207700000 MD US',
 'Capitol Cadillac 76071029 6500 Capitol Dr Greenbelt 207700000 MD US',
 'Capitol Cadillac 76071029 6500 Capitol Dr Greenbelt 207700000 MD US',
 'Harwood International Inc 3130 N. Harwood Street Dallas 752010000 TX US',
 'Tipton Buy Here Pay Here - Harligen 1116 W Harrison Harlingen 785500000 TX US',
 'Steve Quiroz 10625 N. Lamar Austin 787530000 TX US',
 'ARGOS SCHOOL CORPORATION 410 N FIRST ST ARGOS 46501 IN US',
 'ARGOS SCHOOL CORPORATION 410 N FIRST ST ARGOS 46501 IN US',
 'CITY OF ST. LOUIS, MO - ST. LOUIS ZOO SAINT LOUIS ZOO SAINT LOUIS 63110 MO US',
 'SNIDER INSURANCE GROUP, LLC 1438 WILKESBORO HWY STATESVILLE 28625 NC US',
 'HOLIDAY INN 2965 E MAIN ST ALICE 783320000 TX US',
 'BOULTER INDUSTRIAL CONTRACTORS 655 BASKET RD WEBSTER, 14580 NY US',
 'HV Diagnostics Inc. 271 ROPE MILL PARKWAY Woodstock 30188 GA US',
 'KAO COLLINS 1201 EDISON DR. CINCINNATI 45216 OH US',
 'HANSON WALTER & ASSOCIATES, IN 8 BROADWAY SUITE 104 KISSIMMEE 34741 FL US',
 'Mars International 60 Kingsbridge Road Piscataway 88543919 NJ US',
 'Getmedi 500 Route 17s Hasbrouck Heights 76040000 NJ US',
 'VISTEON CORPORATION ONE VILLAGE CENTER DRIVE VAN BUREN TOWNSHIP 48111 MI US',
 'Tipton Buy Here Pay Here - Harligen 1116 W Harrison Harlingen 785500000 TX US',
 'POWERSPORTS OF AMERICA 3051 OLD HUSBANDS ROAD PADUCAH 42071 KY US',
 'SCHOOL DISTRICT OF WI DELLS 520 RACE ST WISCONSIN DELLS 53965-1824 WI US',
 'SALATA CORPORATION 16720 PARK ROW HOUSTON 77084 TX US',
 'Family Office RPP LLC 450 PARK AVENUE NEW YORK 10022 NY US',
 'GERALD R FORD INTERNATIONAL AIRPORT 5500 44TH ST SE GRAND RAPIDS 49512 MI US',
 'Tipton Buy Here Pay Here - Harligen 1116 W Harrison Harlingen 785500000 TX US',
 "WALTON'S INC 116 LAKEFRONT DR COCKEYSVILLE 21039 MD US",
 'LEAKE & WATTS SERVICES, INC 463 HAWTHORNE AVE YONKERS 10705 NY US',
 'HILLS AND DALE GENERAL HOSPITAL 4675 HILL ST CASS CITY 48726 MI US',
 'CHEMUNG CANAL TRUST COMPANY ONE CHEMUNG CANAL PLAZA ELMIRA 14901 NY US',
 'HOLIDAY INN 1101 SPRING ST ZANESVILLE 437010000 OH US',
 'GENERATIONS BH-YOUNGSTOWN 196 COLONIAL DR YOUNGSTOWN 44505 OH US',
 'BATTERIESPLUS LLC 1325 WALNUT RIDGE DR HARTLAND 53029 WI US',
 'STARPOINTE VENTURES 5030 CAMPUS DRIVE SUITE B NEWPORT BEACH 92660 CA US',
 'SALATA CORPORATION 16720 PARK ROW HOUSTON 77084 TX US',
 'KEYW CORPORATION 2121 COOPERATIVE WAY 400 HERNDON 20171 VA US',
 'THRONE PETROLEUM 3000 SMITH ST HOUSTON 770063441 TX US',
 'DAL TILE 7834 C.F. HAWN FRWY DALLAS 75217 TX US',
 'TEXAS FACILITIES COMMISSION 1706 SAN JACINTO BLVD AUSTIN 787011417 TX US',
 'CAROLINA ORTHOPAEDIC & SPORTS 2345 COURT DRIVE GASTONIA 28054 NC US',
 'STAR CONCRETE PUMPING 24223 HUFSMITH KOHRVILLE ROAD TOMBALL 77375 TX US',
 'MECKLENBURG COUNTY PUBLIC SCHOOLS 105 MAYFIELD DR BOYDTON 23917 VA US',
 'WHITESIDE MANAGEMENT 2 HENRY ADAMS ST SUITE M-3 SAN FRANCISCO 941030000 CA US',
 'Next Step HealthCare, LLC 392 MAIN ST SACO 04072-1521 ME US',
 'BRANDYWINE REALTY TRUST 555 E LANCASTER AVE WAYNE 19087 PA US',
 'Concentric Advisors-hq 4030 Lake Washington Blvd Ne Ste 20 Kirkland 980330000 WA US',
 'Mars International 60 Kingsbridge Road Piscataway 88543919 NJ US',
 'ORLAND PARK PUBLIC LIBRARY 14921 S RAVINIA AVE ORLAND PARK 604623193 IL US',
 'Paul Precision Machines 5908 E 12th St Tulsa 741120000 OK US',
 'AG PARTNERS IT 101 BROADWAY STREET N GOODHUE 55027 MN US',
 'CITY OF LAKE FOREST 800 N. FIELD DRIVE LAKE FOREST 600450000 IL US',
 'The Warwick 220 S 17th St Philadelphia 191036303 PA US',
 'AHSTW CSD 768 S MAPLE ST AVOCA 51521 IA US',
 'BJ SERVICES COMPANY U.S.A 11211 FM 2920 ROAD TOMBALL 77375 TX US',
 'BOYS & GIRLS CLUB OF GREATER DERRY 40 E DERRY RD DERRY 30380000 NH US',
 'Maran Inc 1411 Broadway, 5th Floor New York 100180000 NY US',
 'STRIGGOW INSURANCE 10808 W MONEE MANHATTAN RD MONEE 604499185 IL US',
 'AHSTW CSD 768 S MAPLE ST AVOCA 51521 IA US',
 'Endeavour Enterprises 3415 73rd St, Lubbock 794230000 TX US',
 'DIGITAL HARMONIC, LLC 380 LOG CANOE CIRCLE STEVENSON, 21666 MD US',
 'Commnet Link 113 10th Street Beaverlodge T0H0C0 AB CA',
 'ORBITAL PARK CONSULTING 41-15 45TH STREET SUNNYSIDE 111040000 NY US',
 'FELLOWSHIP OF THE ROCKIES 3892 WEST NORTHERN AVE PUEBLO 81005 CO US',
 'North American Health Care, Inc 32836 Pacific Coast Hwy Ste 203 Dana Point 926293473 CA US',
 'UNIVERSITY OF GEORGIA ATHLETIC ASS 100 SMITH ST ATHENS 30602 GA US',
 'KONRAD BEVERAGE COMPANY 1320 HURFFVILLE ROAD DEPTFORD 8096 NJ US',
 'UNIVERSITY OF GEORGIA ATHLETIC ASS 100 SMITH ST ATHENS 30602 GA US',
 'MAYMEAD 1995 ROAN CREEK ROAD MOUNTAIN CITY 37683 TN US',
 'H & K GROUP 2052 LUCON RD SCHWENKSVILLE 19473 PA US',
 'Design Air, LLC 1010 W. KENNEDY AVE. KIMBERLY 54136 WI US',
 'CLINIC BY THE SEA 16295 WILLOW CREEK ROAD LEWES 19958 DE US',
 'WATCHDOG BLDG PARTNERS, LLC 3445 WINTON PLACE; STE 235 ROCHESTER 14623 NY US',
 'HUDSON VALLEY FUEL OIL 32 BUTTERFLY LANE PUTNAM VALLEY 10579 NY US',
 'PIMA MEDICAL INSTITUTE 957 S DOBSON RD MESA 85202 AZ US',
 'LUND FOOD HOLDINGS INC 4100 W 50TH ST MINNEAPOLIS 55424 MN US',
 'MDU RESOURCES 1200 W CENTURY AVE BISMARCK 58503 ND US',
 'BESTCO INC 288 MAZEPPA RD MOORESVILLE 281157928 NC US',
 'HYDROJET 450 GATEWAY DRIVE READING 196010000 PA US',
 'AZITC 5751 E 13TH ST TUCSON 85711 AZ US',
 'GOLDEN HIPPO MEDIA 23251 MULHOLLAND DR WOODLAND HILLS 913640000 CA US',
 'INSTITUTE FOR FAMILY HEALTH 2006 MADISON AVE FL 5 NEW YORK 10035 NY US',
 'DANIEL E SCHRENK 1483 NW FALL PLACE BEAVERTON 97006 OR US',
 'LULAY & ILLESCAS ASSOCIATES INC 99 QUAKER CHURCH ROAD, STE 2 RANDOLPH 7869 NJ US',
 'FREEDOM FORD 1351 EARL L CORE RD MORGANTOWN 26505 WV US',
 'BOVEDA INC 10237 YELLOW CIRCLE DR MINNETONKA 55343 MN US',
 'PACIFIC STEEL & RECYCLING 5 RIVER DR S GREAT FALLS 594051872 MT US',
 'DIXIE IRON WORKS 300 WEST MAIN STREET ALICE 78332 TX US',
 'Abbo Systems 8288 Nw 66th St  651pty Miami 331950000 FL US',
 'CS CREDIT UNION 6519 COMM SCOPE RD CATAWBA 28609-8104 NC US',
 'CHARLES JANSEN 9724 TWEEDY LN DOWNEY 902403142 CA US',
 'DAVISON COUNTY 200 E 4TH AVE MITCHELL 573012631 SD US',
 'SUNPOWER INC 430 INDIO WAY SUNNYVALE 94085 CA US',
 'STAFFORD DEVELOPEMENT INC 1805 US HIGHWAY 82 W TIFTON 317938165 GA US',
 'SPEEDWAY MOTORS INC 340 VICTORY LN LINCOLN 68528 NE US',
 'GLOBAL VALUE COMMERCE INC 7320 ACC BLVD RALEIGH 27617 NC US',
 'NEWSOM EYE & LASER CENTER INC 13904 N DALE MABRY HWY STE 200 TAMPA 33618 FL US',
 "F.J O'HARA & SONS, INC 7 FID KENNEDY AVE BOSTON 22102321 MA US",
 'CRAFTWORKS 301 W MAIN ST CHATTANOOGA 37408 TN US',
 'PRAVIS LLC 113 SAVANNAH LOOP MOUNTAIN VIEW 940433871 CA US',
 'AMERIPRISE BANK, FSB 207 E LIVINGSTON ST ORLANDO 32801 FL US',
 'VIBE CREDIT UNION 44575 W 12 MILE RD NOVI 48377 MI US',
 'SURRY COUNTY 139 CHURCH OF CHRIST RD DOBSON 27017 NC US',
 'DS LIQUIDATION LP 2601 AVENUE OF THE STARS FRISCO 75034 TX US',
 'RICHARD C BARDI & ASSOCIATES 6 BEACON STREET BOSTON 2108 MA US',
 'ISLAND HOSPITAL 1301 YOUNG STREET SUITE 300 HONOLULU 968140000 HI US']

# Number game now

In [262]:
golden_csv.head()

,name,mcn-id,existing-or-new,address1,address2,city,zip,country,temp1,temp2,temp3,temp4,temp5,website,temp6,temp7
0,Greg Pollom,MCN-47996044,EC-Existing,218 Fulford Ave,Bel Air,MD,21014,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Little Apple Toyota Honda,MCN-05952813,R-VAR,2828 Amherst Ave,Manhattan,KS,66502,US,2828 Amherst Ave,Manhattan,KS,66502,US,NaN,NaN,NaN
2,Adp Network Solutions 76002379,MCN-67486028,EC-Existing,16177 Sw 155 Ave,Miami,FL,33187,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Prestige Subaru Suzuki 08320005,MCN-09000630,EC-Existing,585 Tunnel Rd,Asheville,NC,28805,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Wolberg Electrical Supply Company I,MCN-30243660,EC-Existing,35 Industrial Park Road,Albany,NY,12206,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [263]:
sample_csv.head()

,Shard ID,eu_mcn,eu_name,eu_address1,eu_address2,eu_address3,eu_address4,eu_city,eu_zip_code,eu_province,eu_state,eu_country
0,n1,MCN-47996044,Barwick Cpa,218 Fulford Ave,NaN,NaN,NaN,Bel Air,210140000,NaN,MD,US
1,n1,MCN-05952813,Little Apple Toyota Honda,2828 Amherst Ave,NaN,NaN,NaN,Manhattan,665023096,NaN,KS,US
2,n1,MCN-67486028,Adp Network Solutions 76002379,16177 Sw 155 Ave,NaN,NaN,NaN,Miami,331870000,NaN,FL,US
3,n1,MCN-09000630,Prestige Subaru Suzuki08320005,585 Tunnel Rd,NaN,NaN,NaN,Asheville,288050000,NaN,NC,US
4,n1,MCN-30243660,WOLBERG ELECTRICAL SUPPLY COMPANY I,35 INDUSTRIAL PARK ROAD,NaN,NaN,NaN,ALBANY,12206,NaN,NY,US

In [342]:
temp = golden_csv['mcn-id'].values
temp = temp.tolist()
match_found_test=[]
for i in range(0, len(sample_csv)):
    if any(sample_csv['eu_mcn'][i] in s for s in temp):
        match_found_test.append(1)
    else:
        match_found_test.append(0)

In [343]:
sample_csv.head()

,Shard ID,eu_mcn,eu_name,eu_address1,eu_address2,eu_address3,eu_address4,eu_city,eu_zip_code,eu_province,eu_state,eu_country,match_found
0,n1,MCN-47996044,Barwick Cpa,218 Fulford Ave,NaN,NaN,NaN,Bel Air,210140000,NaN,MD,US,1
1,n1,MCN-05952813,Little Apple Toyota Honda,2828 Amherst Ave,NaN,NaN,NaN,Manhattan,665023096,NaN,KS,US,1
2,n1,MCN-67486028,Adp Network Solutions 76002379,16177 Sw 155 Ave,NaN,NaN,NaN,Miami,331870000,NaN,FL,US,1
3,n1,MCN-09000630,Prestige Subaru Suzuki08320005,585 Tunnel Rd,NaN,NaN,NaN,Asheville,288050000,NaN,NC,US,1
4,n1,MCN-30243660,WOLBERG ELECTRICAL SUPPLY COMPANY I,35 INDUSTRIAL PARK ROAD,NaN,NaN,NaN,ALBANY,12206,NaN,NY,US,1

In [344]:
match_found_test

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0]

In [346]:
sample_csv['match_found'] = match_found_test

In [345]:
# sample_csv.head()

In [449]:
choices = golden_dict.values()
accuracy = []
not_found= {}
for k in range(25,40):
    not_found_iteration = []
    found_flag=0
    score= 0
    
    for i in range(0, len(test_data)-1):
        found_flag=0
        chlist=process.extract(test_data[i], choices, limit=k)
#         print("{},   --test--{}".format(test_data[i], mcn_arr_test[i]))

        for mcn,value in golden_dict.items():
            for j in range(0,k):
                if value == chlist[j][0]:
                    if mcn_arr_test[i] == mcn:
                        score+=1

#                         print("{},   --MDM--{}".format(chlist[j][0], mcn))
#                         print("===================================================")
                        found_flag=1
                        break
        if found_flag == 0:
            not_found_iteration.append(i)
            not_found[k] = not_found_iteration
    accuracy.append(100* score/len(test_data))
#     print("Total matches found are {} out of {}".format(score, len(test_data)))        
    print('accuracy is', 100* score/len(test_data), '%')
    print('mismatched sample indexes in test data are:')
#     print(not_found)
    
    print("===================================================")
    print('We are done with 1st level of matching')
print(accuracy)
print(not_found)

accuracy is 65.8119658119658 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 67.52136752136752 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 67.52136752136752 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 67.52136752136752 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 67.52136752136752 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 69.23076923076923 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 69.23076923076923 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 70.94017094017094 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 70.94017094017094 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 70.94017094017094 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 70.94017094017094 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 70.94017094017094 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 70.94017094017094 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 71.7948717948718 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
accuracy is 71.7948717948718 %
mismatched sample indexes in test data are:
===================================================
We are done with 1st level of matching
[65.8119658119658, 67.52136752136752, 67.52136752136752, 67.52136752136752, 67.52136752136752, 69.23076923076923, 69.23076923076923, 70.94017094017094, 70.94017094017094, 70.94017094017094, 70.94017094017094, 70.94017094017094, 70.94017094017094, 71.7948717948718, 71.7948717948718]
{25: [0, 9, 16, 18, 19, 20, 21, 22, 27, 28, 34, 35, 39, 44, 45, 46, 55, 58, 61, 62, 64, 65, 69, 75, 82, 83, 85, 86, 89, 92, 101, 105, 106, 110, 111, 112, 113, 114, 115], 26: [0, 9, 16, 18, 19, 20, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 92, 101, 105, 106, 110, 111, 112, 113, 114, 115], 27: [0, 9, 16, 18, 19, 20, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 92, 101, 105, 106, 110, 111, 112, 113, 114, 115], 28: [0, 9, 16, 18, 19, 20, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 92, 101, 105, 106, 110, 111, 112, 113, 114, 115], 29: [0, 9, 16, 18, 19, 20, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 92, 101, 105, 106, 110, 111, 112, 113, 114, 115], 30: [0, 9, 16, 18, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 92, 101, 105, 106, 110, 111, 112, 113, 114, 115], 31: [0, 9, 16, 18, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 92, 101, 105, 106, 110, 111, 112, 113, 114, 115], 32: [0, 9, 16, 18, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 101, 105, 106, 110, 112, 113, 114, 115], 33: [0, 9, 16, 18, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 101, 105, 106, 110, 112, 113, 114, 115], 34: [0, 9, 16, 18, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 101, 105, 106, 110, 112, 113, 114, 115], 35: [0, 9, 16, 18, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 101, 105, 106, 110, 112, 113, 114, 115], 36: [0, 9, 16, 18, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 101, 105, 106, 110, 112, 113, 114, 115], 37: [0, 9, 16, 18, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 65, 69, 75, 82, 83, 85, 86, 89, 101, 105, 106, 110, 112, 113, 114, 115], 38: [0, 9, 16, 18, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 69, 75, 82, 83, 85, 86, 89, 101, 105, 106, 110, 112, 113, 114, 115], 39: [0, 9, 16, 18, 21, 22, 27, 28, 34, 39, 44, 45, 46, 55, 58, 61, 64, 69, 75, 82, 83, 85, 86, 89, 101, 105, 106, 110, 112, 113, 114, 115]}

In [447]:
chlist=process.extract(test_data[1], choices, limit=5)

In [448]:
chlist

[('Little Apple Toyota Honda 2828 Amherst Ave Manhattan KS 66502 US', 92),
 ('Buccan 350 S County Rd Palm Beach FL 33480 US', 86),
 ('Holiday Inn 2965 E Main St Alice TX 78332 US', 86),
 ('AZITC 5751 e 13th st tucson AZ 85711 US', 86),
 ('Newsom Eye & Laser Center Inc 13904 N Dale Mabry Hwy Ste 200Accounts Payable / Cdw Rwx7180 /cpo Tampa FL 33618 US',
  86)]

In [348]:
# test_data[1]

In [393]:
TrueP = {}
FalseP = {}
TP = 0
FP =0
for key, value in not_found.items():
    for j in value:
        if match_found_test[j] == 1:
            TP+=1
        else:
            FP+=1
            
    TrueP[key] = TP
    FalseP[key] = FP
    
    TP = 0
    FP =0

In [394]:
TrueP

{0: 102,
 1: 51,
 2: 50,
 3: 49,
 4: 49,
 5: 48,
 6: 48,
 7: 46,
 8: 46,
 9: 46,
 10: 46,
 11: 46,
 12: 46,
 13: 46,
 14: 45,
 15: 45,
 16: 43,
 17: 43,
 18: 43,
 19: 39,
 20: 38,
 21: 38,
 22: 37,
 23: 35,
 24: 33}

In [395]:
FalseP

{0: 14,
 1: 8,
 2: 8,
 3: 8,
 4: 8,
 5: 8,
 6: 8,
 7: 8,
 8: 8,
 9: 8,
 10: 8,
 11: 8,
 12: 8,
 13: 8,
 14: 7,
 15: 7,
 16: 7,
 17: 7,
 18: 7,
 19: 7,
 20: 7,
 21: 7,
 22: 7,
 23: 7,
 24: 7}

In [471]:
# for i in range(0, len(not_found)):
#     print(len(not_found[i]))